In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')
df

In [60]:
url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')
df

,Unnamed: 0,AIN,AIN.1,AIN.2,AISNE,AISNE.1,AISNE.2,ALLIER,ALLIER.1,ALLIER.2,...,SEINE ST DENIS.2,VAL DE MARNE,VAL DE MARNE.1,VAL DE MARNE.2,VAL D'OISE,VAL D'OISE.1,VAL D'OISE.2,TOTAL,TOTAL.1,TOTAL.2
0,Année,Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),...,Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t)
1,2000,27500,74,203500,184400,82.902386,1528720,47137,68,320531.6,...,3612,379,80,3032,25450,80,203600,4910142,72.640948,35667737.1
2,2001,28008,60,168048,167033,81.928445,1368475.4,45134,54,243723.6,...,3151.2,322,75,2415,22465,77,172980.5,4457702,67.69115,30174697.3
3,2002,29017,73,211824.1,174069,84.931544,1478394.9,44021,62,272930.2,...,3224,404,81,3272.4,25604,83,212513.2,4888878,76.247525,37276484.8
4,2003,24021,53,127311.3,172102,75,1290765,42031,45,189139.5,...,3330,399,62,2473.8,24878,68,169170.4,4513832,64.231984,28993238.3
5,2004,28533,80,228264,175589,91.904635,1613744.3,46000,66,303600,...,3349.5,429,74,3174.6,25248,84,212083.2,4818995,77.866941,37524039.8
6,2005,27039,68,183865.2,178097,80.884209,1440523.5,44000,59,259600,...,3353.8,406,82,3329.2,26088,80,208704,4841253,71.775365,34748270
7,2006,31555,72,227196,177751,79.944979,1421030,44200,60,265200,...,3440,420,80,3360,25402,75,190515,4778563,69.393142,33159950.3
8,2007,32065,62,198803,175688,75.994718,1335136,43000,51,219300,...,3040,405,76,3078,24766,76,188221.6,4766876,64.332304,30666411.5
9,2008,32075,63,202072.5,184688,84.99686,1569790,45600,56,255360,...,2905,429,83,3560.7,25839,83,214463.7,5044853,72.862255,36757936.5
10,2009,27140,69.712601,189200,173633,89.977942,1562314,42700,68,290360,...,3711.3,464,83,3851.2,25046,89,222909.4,4711546,76.555543,36069496.1
11,2010,33300,71.964054,239640.3,177466,83.68559,1485134.7,47300,65,307450,...,2924,470,76,3572,24101,85,204858.5,4898515,72.44367,35486640.3
12,2011,32500,69.815385,226900,186550,81.986695,1529461.8,46300,53,245390,...,3063.6,497,67,3329.9,25745,74,190513,4990178,68.074146,33970210.5
13,2012,34200,66.964912,229020,182476,81.241358,1482459.8,48200,65,313300,...,3017.6,445,82,3649,25715,82,210863,4860633,73.041806,35502941.4
14,2013,33755,61.973337,209191,185560,90.976374,1688157.6,48800,64,312320,...,3366,538,83,4465.4,24645,85,209482.5,4983661,73.983392,36870814.5
15,2014,30030,71.858475,215791,188500,92.959151,1752280,48250,64.854922,312925,...,2614.5,535,85,4547.5,25520,83,211816,5010456,74.775785,37466078.2
16,2015,33780,71.909414,242910,188874,94.964341,1793629.5,49500,61.911111,306460,...,3094,505,83,4191.5,25225,91,229547.5,5161387,79.328759,40944642.4
17,2016,37570,54.972052,206530,185720,52.996446,984250,54540,51.991199,283560,...,1950,465,45,2092.5,24710,50,123550,5131791,53.705749,27560667.8
18,2017,32370,73.969725,239440,182000,83.998352,1528770,50000,60.459,302295,...,2747,430,75,3225,24290,82,199178,4962079,73.677063,36559140.5
19,2018,34665,66.993509,232233,179130,82,1468866,48400,59.958678,290200,...,2733.5,390,75,2925,23030,77,177331,4880208,69.762215,34045411.9
20,2019,34489,78.971179,272363.7,184980,92,1701816,49720,56.95897,283200,...,3476,460,87,4002,23455,88,206404,4998750,79.052686,39516461.6
21,2020,28050,63.805348,178974,169260,83.982039,1421480,47500,49.915789,237100,...,2535,285,72,2052,21220,78,165516,4260925,68.476684,29177401.3
22,2021,37440,68.981838,258268,191420,82.002717,1569696,49410,57.935236,286258,...,2739,430,81,3483,23870,83,198121,4973631,71.194238,35409386.8
23,2022,35000,0,0,190900,0,0,48400,0,0,...,0,415,0,0,23865,0,0,4923970,0,0

In [10]:
def get_df_all(df):
    df = df.rename(columns={'Unnamed: 0':'Année'})
    df = df.set_index('Année')

    col_rendements = []
    col_surfaces = []
    col_prod = []

    for col in df.columns :
        if '1' in col: #rendements
            col_rendements.append(col)
        elif '2' in col: #production
            col_prod.append(col)
        else: #surfaces
            col_surfaces.append(col)
            
    df_rendements = df[col_rendements].drop(['Année',2022],axis=0)
    df_prod = df[col_prod].drop(['Année',2022],axis=0)
    df_surfaces = df[col_surfaces].drop(['Année',2022],axis=0)     
    
    dept_codes = [1,2,3,4,5,6,7,8,9,10,
              11,12,13,14,15,16,17,
              18,19,
              21,22,23,24,25,26,27,28,29,
              20,
              30,31,32,33,34,35,36,
              37,38,39,40,41,42,43,
              44,45,46,47,48,49,50,
              51,52,53,54,55,56,57,
              58,59,60,61,62,63,64,
              65,66,67,68,69,70,71,
              72,73,74,75,76,77,78,
              79,80,81,82,83,84,85,
              86,87,88,89,90,91,92,
              93,94,95,96,0]
    
    col_names_rend = df_rendements.columns
    col_names_surf = df_surfaces.columns
    col_names_prod = df_prod.columns
    
    dict_rename_rend = {}
    dict_rename_surf = {}
    dict_rename_prod = {}
    
    i = 0
    for col in col_names_rend:
        dict_rename_rend[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_surf:
        dict_rename_surf[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_prod:
        dict_rename_prod[col]=dept_codes[i]
        i = i+1
        
    df_rendements = df_rendements.rename(columns=dict_rename_rend)
    df_rendements = df_rendements.rename(columns={96:'FRANCE'})
    
    df_prod = df_prod.rename(columns=dict_rename_prod)
    df_prod = df_prod.rename(columns={96:'FRANCE'})
    
    df_surfaces = df_surfaces.rename(columns=dict_rename_surf)
    df_surfaces = df_surfaces.rename(columns={96:'FRANCE'})
    
    return df_rendements, df_surfaces, df_prod

In [11]:
def baseline_prec_year(df_rendements, df_surfaces, df_prod):
    df_baseline_prod = df_prod.shift(1)
    df_baseline_rend = df_rendements.shift(1)
    df_baseline_surf = df_surfaces.shift(1)
    
    df_baseline_prod = df_baseline_prod.dropna()
    df_baseline_rend = df_baseline_rend.dropna()
    df_baseline_surf = df_baseline_surf.dropna()
    
    df_prod = df_prod.iloc[1: , :]
    df_surfaces = df_surfaces.iloc[1: , :]
    df_rendements = df_rendements.iloc[1: , :]

    mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
    mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
    mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)
    
    results = {'Production' : mae_prod,
           'Surfaces' : mae_surf,
           'Rendements' : mae_rend}

    df_mae = pd.DataFrame.from_dict(results, orient='index')
    df_mae = df_mae.rename(columns={0:'MAE'})

    return df_mae

In [12]:
df_rendements, df_surfaces, df_prod = get_df_all(df)
#df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)

In [13]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, max_error

df_baseline_prod = df_prod.shift(1)
df_baseline_rend = df_rendements.shift(1)
df_baseline_surf = df_surfaces.shift(1)

df_baseline_prod = df_baseline_prod.dropna()
df_baseline_rend = df_baseline_rend.dropna()
df_baseline_surf = df_baseline_surf.dropna()

df_prod = df_prod.iloc[1: , :]
df_surfaces = df_surfaces.iloc[1: , :]
df_rendements = df_rendements.iloc[1: , :]

In [15]:
nb = 5

In [31]:
df_t = df_prod.tail(year)

In [33]:
df

,Unnamed: 0,AIN,AIN.1,AIN.2,AISNE,AISNE.1,AISNE.2,ALLIER,ALLIER.1,ALLIER.2,...,SEINE ST DENIS.2,VAL DE MARNE,VAL DE MARNE.1,VAL DE MARNE.2,VAL D'OISE,VAL D'OISE.1,VAL D'OISE.2,TOTAL,TOTAL.1,TOTAL.2
0,Année,Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),...,Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t)
1,2000,27500,74,203500,184400,82.902386,1528720,47137,68,320531.6,...,3612,379,80,3032,25450,80,203600,4910142,72.640948,35667737.1
2,2001,28008,60,168048,167033,81.928445,1368475.4,45134,54,243723.6,...,3151.2,322,75,2415,22465,77,172980.5,4457702,67.69115,30174697.3
3,2002,29017,73,211824.1,174069,84.931544,1478394.9,44021,62,272930.2,...,3224,404,81,3272.4,25604,83,212513.2,4888878,76.247525,37276484.8
4,2003,24021,53,127311.3,172102,75,1290765,42031,45,189139.5,...,3330,399,62,2473.8,24878,68,169170.4,4513832,64.231984,28993238.3
5,2004,28533,80,228264,175589,91.904635,1613744.3,46000,66,303600,...,3349.5,429,74,3174.6,25248,84,212083.2,4818995,77.866941,37524039.8
6,2005,27039,68,183865.2,178097,80.884209,1440523.5,44000,59,259600,...,3353.8,406,82,3329.2,26088,80,208704,4841253,71.775365,34748270
7,2006,31555,72,227196,177751,79.944979,1421030,44200,60,265200,...,3440,420,80,3360,25402,75,190515,4778563,69.393142,33159950.3
8,2007,32065,62,198803,175688,75.994718,1335136,43000,51,219300,...,3040,405,76,3078,24766,76,188221.6,4766876,64.332304,30666411.5
9,2008,32075,63,202072.5,184688,84.99686,1569790,45600,56,255360,...,2905,429,83,3560.7,25839,83,214463.7,5044853,72.862255,36757936.5
10,2009,27140,69.712601,189200,173633,89.977942,1562314,42700,68,290360,...,3711.3,464,83,3851.2,25046,89,222909.4,4711546,76.555543,36069496.1
11,2010,33300,71.964054,239640.3,177466,83.68559,1485134.7,47300,65,307450,...,2924,470,76,3572,24101,85,204858.5,4898515,72.44367,35486640.3
12,2011,32500,69.815385,226900,186550,81.986695,1529461.8,46300,53,245390,...,3063.6,497,67,3329.9,25745,74,190513,4990178,68.074146,33970210.5
13,2012,34200,66.964912,229020,182476,81.241358,1482459.8,48200,65,313300,...,3017.6,445,82,3649,25715,82,210863,4860633,73.041806,35502941.4
14,2013,33755,61.973337,209191,185560,90.976374,1688157.6,48800,64,312320,...,3366,538,83,4465.4,24645,85,209482.5,4983661,73.983392,36870814.5
15,2014,30030,71.858475,215791,188500,92.959151,1752280,48250,64.854922,312925,...,2614.5,535,85,4547.5,25520,83,211816,5010456,74.775785,37466078.2
16,2015,33780,71.909414,242910,188874,94.964341,1793629.5,49500,61.911111,306460,...,3094,505,83,4191.5,25225,91,229547.5,5161387,79.328759,40944642.4
17,2016,37570,54.972052,206530,185720,52.996446,984250,54540,51.991199,283560,...,1950,465,45,2092.5,24710,50,123550,5131791,53.705749,27560667.8
18,2017,32370,73.969725,239440,182000,83.998352,1528770,50000,60.459,302295,...,2747,430,75,3225,24290,82,199178,4962079,73.677063,36559140.5
19,2018,34665,66.993509,232233,179130,82,1468866,48400,59.958678,290200,...,2733.5,390,75,2925,23030,77,177331,4880208,69.762215,34045411.9
20,2019,34489,78.971179,272363.7,184980,92,1701816,49720,56.95897,283200,...,3476,460,87,4002,23455,88,206404,4998750,79.052686,39516461.6
21,2020,28050,63.805348,178974,169260,83.982039,1421480,47500,49.915789,237100,...,2535,285,72,2052,21220,78,165516,4260925,68.476684,29177401.3
22,2021,37440,68.981838,258268,191420,82.002717,1569696,49410,57.935236,286258,...,2739,430,81,3483,23870,83,198121,4973631,71.194238,35409386.8
23,2022,35000,0,0,190900,0,0,48400,0,0,...,0,415,0,0,23865,0,0,4923970,0,0

In [32]:
df_t

,1,2,3,4,5,6,7,8,9,10,...,87,88,89,90,91,92,93,94,95,FRANCE
Année,,,,,,,,,,,,,,,,,,,,,
2016,206530,984250,283560,9424.7,14586.1,33.6,9625,361415.5,46330,502329.6,...,56745,112609,480366,14827.5,150885,0,1950,2092.5,123550,27560667.8
2017,239440,1528770,302295,7418,10899,30,7460,511525,36526,806340,...,71286,160580,830130,23480,243675,0,2747,3225,199178,36559140.5
2018,232233,1468866,290200,5801,7499,40,7486,505908,28240,832923,...,58898,160000,841160,18265,233850,0,2733.5,2925,177331,34045411.9
2019,272363.7,1701816,283200,7866.2,10403.5,48,7637.6,539998,44054,868380,...,76027.5,176936,900450,23305,265654.5,0,3476,4002,206404,39516461.6
2020,178974,1421480,237100,8982,9612,32,6699,501900,20010,836500,...,43520,164570,608300,22344,191952,0,2535,2052,165516,29177401.3
2021,258268,1569696,286258,15417.3,12160,45.6,8040,549050,34986.8,893490,...,63820,152768,831600,18300,243243,0,2739,3483,198121,35409386.8

In [7]:
""" Input : Histo_data_YieldsAreasProd.xlsx
Return MAE for production, yields and surfaces"""

results = {'Production' : mae_prod,
           'Surfaces' : mae_surf,
           'Rendements' : mae_rend}

df_mae = pd.DataFrame.from_dict(results, orient='index')
df_mae = df_mae.rename(columns={0:'MAE'})

df_mae

                      MAE
Production  106811.400694
Surfaces      5435.193452
Rendements       7.963408

In [35]:
#df_rendements, df_surfaces, df_prod = get_df_all(df)
#df_baseline_prod = df_prod.shift(1)

In [36]:
df_baseline_prod.shape

(22, 96)

In [37]:
#df_baseline_prod = df_prod.shift(1)

In [38]:
#df_baseline_prod.dropna()

In [39]:
baseline_rendements = {}
for col in df_rendements.columns:
    baseline_rendements[col] = df_rendements[col]

baseline_surfaces = {}
for col in df_surfaces.columns:
    baseline_surfaces[col] = df_surfaces[col]

base_rendements = pd.DataFrame.from_dict(baseline_rendements,orient='index')
base_surfaces = pd.DataFrame.from_dict(baseline_surfaces,orient='index')

base_rendements = base_rendements.rename(columns={0:'Rendements'})
base_surfaces = base_surfaces.rename(columns={0:'Surfaces'})

baseline = base_rendements.copy()
baseline = baseline.join(base_surfaces)

baseline['Production']=baseline['Rendements']*baseline['Surfaces']/10

ValueError: columns overlap but no suffix specified: Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
           dtype='int64')

In [12]:
#df_rendements, df_surfaces, df_prod = get_df_all(df)
#baseline = baseline(df_rendements, df_surfaces)
#baseline

In [13]:
def baseline_prec_year(df_rendements, df_surfaces):
    df_baseline_prod = df_prod.shift(1)
    df_baseline_rend = df_rendements.shift(1)
    df_baseline_surf = df_surfaces.shift(1)
    
    df_baseline_prod = df_baseline_prod.dropna()
    df_baseline_rend = df_baseline_rend.dropna()
    df_baseline_surf = df_baseline_surf.dropna()
    
    return df_baseline_prod, df_baseline_rend, df_baseline_surf

In [14]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, max_error

df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)
df_rendements, df_surfaces, df_prod = get_df_all(df)

df_prod = df_prod.iloc[1: , :]
df_surfaces = df_surfaces.iloc[1: , :]
df_rendements = df_rendements.iloc[1: , :]

mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)

def get_baseline_scores(df):
    """ Input : Histo_data_YieldsAreasProd.xlsx
    Return MAE for production, yields and surfaces"""
    df_rendements, df_surfaces, df_prod = get_df_all(df)
    df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)
    
    df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)
    df_rendements, df_surfaces, df_prod = get_df_all(df)

    df_prod = df_prod.iloc[1: , :]
    df_surfaces = df_surfaces.iloc[1: , :]
    df_rendements = df_rendements.iloc[1: , :]

    mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
    mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
    mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)
    
    results = {'Production' : mae_prod,
               'Surfaces' : mae_surf,
               'Rendements' : mae_rend}
    
    df_mae = pd.DataFrame.from_dict(results, orient='index')
    df_mae = df_mae.rename(columns={0:'MAE'})
    
    return df_mae

In [40]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, max_error

mae = mean_absolute_error(df_baseline_prod, df_prod)
mae

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [16]:
def get_df_all(df):
    df = df.rename(columns={'Unnamed: 0':'Année'})
    df = df.set_index('Année')

    col_rendements = []
    col_surfaces = []
    col_prod = []

    for col in df.columns :
        if '1' in col: #rendements
            col_rendements.append(col)
        elif '2' in col: #production
            col_prod.append(col)
        else: #surfaces
            col_surfaces.append(col)
            
    df_rendements = df[col_rendements].drop(['Année',2022],axis=0)
    df_prod = df[col_prod].drop(['Année',2022],axis=0)
    df_surfaces = df[col_surfaces].drop(['Année',2022],axis=0)     
    
    dept_codes = [1,2,3,4,5,6,7,8,9,10,
              11,12,13,14,15,16,17,
              18,19,
              21,22,23,24,25,26,27,28,29,
              20,
              30,31,32,33,34,35,36,
              37,38,39,40,41,42,43,
              44,45,46,47,48,49,50,
              51,52,53,54,55,56,57,
              58,59,60,61,62,63,64,
              65,66,67,68,69,70,71,
              72,73,74,75,76,77,78,
              79,80,81,82,83,84,85,
              86,87,88,89,90,91,92,
              93,94,95,96,0]
    
    col_names_rend = df_rendements.columns
    col_names_surf = df_surfaces.columns
    col_names_prod = df_prod.columns
    
    dict_rename_rend = {}
    dict_rename_surf = {}
    dict_rename_prod = {}
    
    i = 0
    for col in col_names_rend:
        dict_rename_rend[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_surf:
        dict_rename_surf[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_prod:
        dict_rename_prod[col]=dept_codes[i]
        i = i+1
        
    df_rendements = df_rendements.rename(columns=dict_rename_rend)
    df_rendements = df_rendements.rename(columns={96:'FRANCE'})
    
    df_prod = df_prod.rename(columns=dict_rename_prod)
    df_prod = df_prod.rename(columns={96:'FRANCE'})
    
    df_surfaces = df_surfaces.rename(columns=dict_rename_surf)
    df_surfaces = df_surfaces.rename(columns={96:'FRANCE'})
    
    return df_rendements, df_surfaces, df_prod

In [17]:
def get_baseline_scores(df):
    """ Input : Histo_data_YieldsAreasProd.xlsx
    Return MAE for production, yields and surfaces"""
    df_rendements, df_surfaces, df_prod = get_df_all(df)
    df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)
    
    df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)
    df_rendements, df_surfaces, df_prod = get_df_all(df)

    df_prod = df_prod.iloc[1: , :]
    df_surfaces = df_surfaces.iloc[1: , :]
    df_rendements = df_rendements.iloc[1: , :]

    mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
    mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
    mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)
    
    results = {'Production' : mae_prod,
               'Surfaces' : mae_surf,
               'Rendements' : mae_rend}
    
    df_mae = pd.DataFrame.from_dict(results, orient='index')
    df_mae = df_mae.rename(columns={0:'MAE'})
    
    return df_mae

In [18]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')
df_mae = get_baseline_scores(df)

df_baseline_prod, df_baseline_rend, df_baseline_surf = baseline_prec_year(df_rendements, df_surfaces)
df_rendements, df_surfaces, df_prod = get_df_all(df)

df_prod = df_prod.iloc[1: , :]
df_surfaces = df_surfaces.iloc[1: , :]
df_rendements = df_rendements.iloc[1: , :]

mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)

results = {'Production' : mae_prod,
           'Surfaces' : mae_surf,
           'Rendements' : mae_rend}

df_mae = pd.DataFrame.from_dict(results, orient='index')
df_mae = df_mae.rename(columns={0:'MAE'})

ValueError: Found input variables with inconsistent numbers of samples: [20, 21]

In [65]:
def get_df_all(df):
    df = df.rename(columns={'Unnamed: 0':'Année'})
    df = df.set_index('Année')

    col_rendements = []
    col_surfaces = []
    col_prod = []

    for col in df.columns :
        if '1' in col: #rendements
            col_rendements.append(col)
        elif '2' in col: #production
            col_prod.append(col)
        else: #surfaces
            col_surfaces.append(col)
            
    df_rendements = df[col_rendements].drop(['Année',2022],axis=0)
    df_prod = df[col_prod].drop(['Année',2022],axis=0)
    df_surfaces = df[col_surfaces].drop(['Année',2022],axis=0)     
    
    dept_codes = [1,2,3,4,5,6,7,8,9,10,
              11,12,13,14,15,16,17,
              18,19,
              21,22,23,24,25,26,27,28,29,
              30,31,32,33,34,35,36,
              37,38,39,40,41,42,43,
              44,45,46,47,48,49,50,
              51,52,53,54,55,56,57,
              58,59,60,61,62,63,64,
              65,66,67,68,69,70,71,
              72,73,74,75,76,77,78,
              79,80,81,82,83,84,85,
              86,87,88,89,90,91,92,
              93,94,95,96]
    
    col_names_rend = df_rendements.columns
    col_names_surf = df_surfaces.columns
    col_names_prod = df_prod.columns
    
    dict_rename_rend = {}
    dict_rename_surf = {}
    dict_rename_prod = {}
    
    i = 0
    for col in col_names_rend:
        dict_rename_rend[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_surf:
        dict_rename_surf[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_prod:
        dict_rename_prod[col]=dept_codes[i]
        i = i+1
        
    df_rendements = df_rendements.rename(columns=dict_rename_rend)
    df_rendements = df_rendements.rename(columns={96:'FRANCE'})
    
    df_prod = df_prod.rename(columns=dict_rename_prod)
    df_prod = df_prod.rename(columns={96:'FRANCE'})
    
    df_surfaces = df_surfaces.rename(columns=dict_rename_surf)
    df_surfaces = df_surfaces.rename(columns={96:'FRANCE'})
    
    return df_rendements, df_surfaces, df_prod

In [45]:
def baseline_prec_year(df_rendements, df_surfaces, df_prod, nb_year=22):
    df_baseline_prod = df_prod.shift(1)
    df_baseline_rend = df_rendements.shift(1)
    df_baseline_surf = df_surfaces.shift(1)
    
    df_baseline_prod = df_baseline_prod.dropna()
    df_baseline_rend = df_baseline_rend.dropna()
    df_baseline_surf = df_baseline_surf.dropna()
    
    df_prod = df_prod.iloc[1: , :]
    df_surfaces = df_surfaces.iloc[1: , :]
    df_rendements = df_rendements.iloc[1: , :]

    df_prod = df_prod.tail(nb_year)
    df_surfaces = df_surfaces.tail(nb_year)
    df_rendements = df_rendements.tail(nb_year)
    df_baseline_prod = df_baseline_prod.tail(nb_year)
    df_baseline_rend = df_baseline_rend.tail(nb_year)
    df_baseline_surf = df_baseline_surf.tail(nb_year)
    
    mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
    mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
    mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)
    
    results = {'Production' : mae_prod,
           'Surfaces' : mae_surf,
           'Rendements' : mae_rend}

    df_mae = pd.DataFrame.from_dict(results, orient='index')
    df_mae = df_mae.rename(columns={0:'MAE'})

    return df_mae

In [64]:
url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')
df_rendements, df_surfaces, df_prod = get_df_all(df)
df_mae = baseline_prec_year(df_rendements, df_surfaces, df_prod, nb_year=22)
df_mae

IndexError: list index out of range

In [48]:
df_rendements, df_surfaces, df_prod = get_df_all(df)

In [50]:
df_baseline_prod = df_prod.shift(1)
df_baseline_rend = df_rendements.shift(1)
df_baseline_surf = df_surfaces.shift(1)

df_baseline_prod = df_baseline_prod.dropna()
df_baseline_rend = df_baseline_rend.dropna()
df_baseline_surf = df_baseline_surf.dropna()

df_prod = df_prod.iloc[1: , :]
df_surfaces = df_surfaces.iloc[1: , :]
df_rendements = df_rendements.iloc[1: , :]

df_prod = df_prod.tail(22)
df_surfaces = df_surfaces.tail(22)
df_rendements = df_rendements.tail(22)
df_baseline_prod = df_baseline_prod.tail(22)
df_baseline_rend = df_baseline_rend.tail(22)
df_baseline_surf = df_baseline_surf.tail(22)

In [55]:
df_baseline_rend

,1,2,3,4,5,6,7,8,9,10,...,87,88,89,90,91,92,93,94,95,FRANCE
Année,,,,,,,,,,,,,,,,,,,,,
2002,60,81.928445,54,36.509242,41.851095,35,37.731707,76.9883,48,78.924324,...,45.811765,59.235989,64,52.929748,74.971777,80,78,75,77,67.69115
2003,73,84.931544,62,39.582173,51.684404,40,42,76.981536,52,83.898714,...,54.857523,64.785132,71,61.960199,82,80,80,81,83,76.247525
2004,53,75,45,27.512555,34.502382,30,24.872674,69.961373,44,67.903504,...,44.939369,47.730745,52,50,62.957932,0,74,62,68,64.231984
2005,80,91.904635,66,32.627887,36.840598,40,35,87,50,89,...,55.864354,74.343931,77,77.90206,83,0,87,74,84,77.866941
2006,68,80.884209,59,34.331371,30.713019,40,34.945501,77,50,83,...,57.799654,65.972284,67,66.939535,73,0,82,82,80,71.775365
2007,72,79.944979,60,31.639615,34.662058,40,35,75,50,77.933319,...,53.801766,59.7483,64,66.932442,66,0,80,80,75,69.393142
2008,62,75.994718,51,39,40,35,35,69,39,77.991129,...,41.941067,52.942562,60,58.947445,76,0,76,76,76,64.332304
2009,63,84.99686,56,40,40,41,40,74.994355,47,72.997294,...,51.959668,60.985887,67,61.986063,83,0,83,83,83,72.862255
2010,69.712601,89.977942,68,35,41,41,30,81,43,83,...,56.860347,69.927687,71,68.983533,83,0,89,83,89,76.555543
2011,71.964054,83.68559,65,33,41,9.230769,39.716917,78.100013,53,77.6,...,47.882353,63,65,67.991531,76,0,85,76,85,72.44367
2012,69.815385,81.986695,53,36,35,38,30,79.8,47,74.6,...,51.727273,64.987562,62,71.920721,67,0,74,67,74,68.074146
2013,66.964912,81.241358,65,40.314991,41.015038,40,36,70.7,56.999609,75.5,...,51.849558,50,67,60.937888,82,0,82,82,82,73.041806
2014,61.973337,90.976374,64,40.412872,40.855032,38,39.885714,78.7,51,76.870009,...,49.756098,62.29249,65,64.837067,83,0,85,83,85,73.983392
2015,71.858475,92.959151,64.854922,34.363636,45.826838,40,29.857143,89.9,50.964581,83,...,57.894309,58.945946,64,73.582418,85,0,83,85,83,74.775785
2016,71.909414,94.964341,61.911111,29.782609,46.676052,40,27.834711,91.9,52.991131,88.7,...,59.776119,71.822858,73,67.931818,83,0,91,83,91,79.328759
2017,54.972052,52.996446,51.991199,39.800253,46.10019,42,37.745098,55.499923,54.958482,45.9,...,39,41.799926,36,50.008432,45,0,50,45,50,53.705749
2018,73.969725,83.998352,60.459,36.009709,37.071429,27.272727,38.854167,79,47.997372,75.5,...,53.922844,62,65.674842,80.410959,75,0,82,75,82,73.677063
2019,66.993509,82,59.958678,33.844807,32.407087,40,38,78,40,78,...,46.968102,62.5,68,65,75,0,77,75,77,69.762215
2020,78.971179,92,56.95897,36.947863,38.094105,32,39.862213,83,56.990944,82,...,59.887751,68,69,79,87,0,88,87,88,79.052686
2021,63.805348,83.982039,49.915789,36,35.6,40,37.847458,84,34.951965,84.494949,...,40.979284,70,55,84,72,0,78,72,78,68.476684

In [56]:
df_rendements

,1,2,3,4,5,6,7,8,9,10,...,87,88,89,90,91,92,93,94,95,FRANCE
Année,,,,,,,,,,,,,,,,,,,,,
2002,73,84.931544,62,39.582173,51.684404,40,42,76.981536,52,83.898714,...,54.857523,64.785132,71,61.960199,82,80,80,81,83,76.247525
2003,53,75,45,27.512555,34.502382,30,24.872674,69.961373,44,67.903504,...,44.939369,47.730745,52,50,62.957932,0,74,62,68,64.231984
2004,80,91.904635,66,32.627887,36.840598,40,35,87,50,89,...,55.864354,74.343931,77,77.90206,83,0,87,74,84,77.866941
2005,68,80.884209,59,34.331371,30.713019,40,34.945501,77,50,83,...,57.799654,65.972284,67,66.939535,73,0,82,82,80,71.775365
2006,72,79.944979,60,31.639615,34.662058,40,35,75,50,77.933319,...,53.801766,59.7483,64,66.932442,66,0,80,80,75,69.393142
2007,62,75.994718,51,39,40,35,35,69,39,77.991129,...,41.941067,52.942562,60,58.947445,76,0,76,76,76,64.332304
2008,63,84.99686,56,40,40,41,40,74.994355,47,72.997294,...,51.959668,60.985887,67,61.986063,83,0,83,83,83,72.862255
2009,69.712601,89.977942,68,35,41,41,30,81,43,83,...,56.860347,69.927687,71,68.983533,83,0,89,83,89,76.555543
2010,71.964054,83.68559,65,33,41,9.230769,39.716917,78.100013,53,77.6,...,47.882353,63,65,67.991531,76,0,85,76,85,72.44367
2011,69.815385,81.986695,53,36,35,38,30,79.8,47,74.6,...,51.727273,64.987562,62,71.920721,67,0,74,67,74,68.074146
2012,66.964912,81.241358,65,40.314991,41.015038,40,36,70.7,56.999609,75.5,...,51.849558,50,67,60.937888,82,0,82,82,82,73.041806
2013,61.973337,90.976374,64,40.412872,40.855032,38,39.885714,78.7,51,76.870009,...,49.756098,62.29249,65,64.837067,83,0,85,83,85,73.983392
2014,71.858475,92.959151,64.854922,34.363636,45.826838,40,29.857143,89.9,50.964581,83,...,57.894309,58.945946,64,73.582418,85,0,83,85,83,74.775785
2015,71.909414,94.964341,61.911111,29.782609,46.676052,40,27.834711,91.9,52.991131,88.7,...,59.776119,71.822858,73,67.931818,83,0,91,83,91,79.328759
2016,54.972052,52.996446,51.991199,39.800253,46.10019,42,37.745098,55.499923,54.958482,45.9,...,39,41.799926,36,50.008432,45,0,50,45,50,53.705749
2017,73.969725,83.998352,60.459,36.009709,37.071429,27.272727,38.854167,79,47.997372,75.5,...,53.922844,62,65.674842,80.410959,75,0,82,75,82,73.677063
2018,66.993509,82,59.958678,33.844807,32.407087,40,38,78,40,78,...,46.968102,62.5,68,65,75,0,77,75,77,69.762215
2019,78.971179,92,56.95897,36.947863,38.094105,32,39.862213,83,56.990944,82,...,59.887751,68,69,79,87,0,88,87,88,79.052686
2020,63.805348,83.982039,49.915789,36,35.6,40,37.847458,84,34.951965,84.494949,...,40.979284,70,55,84,72,0,78,72,78,68.476684
2021,68.981838,82.002717,57.935236,51,40,38,41.875,79,49.981143,79,...,49.937402,62,66,61,81,0,83,81,83,71.194238

In [47]:
df_mae = baseline_prec_year(df_rendements, df_surfaces, df_prod, nb_year=9)
df_mae

                      MAE
Production  129237.079630
Surfaces      5883.879630
Rendements       8.806511

In [61]:
df = df.rename(columns={'Unnamed: 0':'Année'})
df = df.set_index('Année')

col_rendements = []
col_surfaces = []
col_prod = []

for col in df.columns :
    if '1' in col: #rendements
        col_rendements.append(col)
    elif '2' in col: #production
        col_prod.append(col)
    else: #surfaces
        col_surfaces.append(col)

df_rendements = df[col_rendements].drop(['Année',2022],axis=0)
df_prod = df[col_prod].drop(['Année',2022],axis=0)
df_surfaces = df[col_surfaces].drop(['Année',2022],axis=0)     

dept_codes = [1,2,3,4,5,6,7,8,9,10,
          11,12,13,14,15,16,17,
          18,19,
          21,22,23,24,25,26,27,28,29,
          20,
          30,31,32,33,34,35,36,
          37,38,39,40,41,42,43,
          44,45,46,47,48,49,50,
          51,52,53,54,55,56,57,
          58,59,60,61,62,63,64,
          65,66,67,68,69,70,71,
          72,73,74,75,76,77,78,
          79,80,81,82,83,84,85,
          86,87,88,89,90,91,92,
          93,94,95,96]

col_names_rend = df_rendements.columns
col_names_surf = df_surfaces.columns
col_names_prod = df_prod.columns

dict_rename_rend = {}
dict_rename_surf = {}
dict_rename_prod = {}

i = 0
for col in col_names_rend:
    dict_rename_rend[col]=dept_codes[i]
    i = i+1

i = 0
for col in col_names_surf:
    dict_rename_surf[col]=dept_codes[i]
    i = i+1

i = 0
for col in col_names_prod:
    dict_rename_prod[col]=dept_codes[i]
    i = i+1

In [62]:
df_rendements = df_rendements.rename(columns=dict_rename_rend)
df_rendements

,1,2,3,4,5,6,7,8,9,10,...,87,88,89,90,91,92,93,94,95,96
Année,,,,,,,,,,,,,,,,,,,,,
2000,74,82.902386,68,41.666667,43.702422,38,40,78.987491,52,83.879285,...,48.82113,64.791956,74,64.934783,80,80,86,80,80,72.640948
2001,60,81.928445,54,36.509242,41.851095,35,37.731707,76.9883,48,78.924324,...,45.811765,59.235989,64,52.929748,74.971777,80,78,75,77,67.69115
2002,73,84.931544,62,39.582173,51.684404,40,42,76.981536,52,83.898714,...,54.857523,64.785132,71,61.960199,82,80,80,81,83,76.247525
2003,53,75,45,27.512555,34.502382,30,24.872674,69.961373,44,67.903504,...,44.939369,47.730745,52,50,62.957932,0,74,62,68,64.231984
2004,80,91.904635,66,32.627887,36.840598,40,35,87,50,89,...,55.864354,74.343931,77,77.90206,83,0,87,74,84,77.866941
2005,68,80.884209,59,34.331371,30.713019,40,34.945501,77,50,83,...,57.799654,65.972284,67,66.939535,73,0,82,82,80,71.775365
2006,72,79.944979,60,31.639615,34.662058,40,35,75,50,77.933319,...,53.801766,59.7483,64,66.932442,66,0,80,80,75,69.393142
2007,62,75.994718,51,39,40,35,35,69,39,77.991129,...,41.941067,52.942562,60,58.947445,76,0,76,76,76,64.332304
2008,63,84.99686,56,40,40,41,40,74.994355,47,72.997294,...,51.959668,60.985887,67,61.986063,83,0,83,83,83,72.862255
2009,69.712601,89.977942,68,35,41,41,30,81,43,83,...,56.860347,69.927687,71,68.983533,83,0,89,83,89,76.555543
2010,71.964054,83.68559,65,33,41,9.230769,39.716917,78.100013,53,77.6,...,47.882353,63,65,67.991531,76,0,85,76,85,72.44367
2011,69.815385,81.986695,53,36,35,38,30,79.8,47,74.6,...,51.727273,64.987562,62,71.920721,67,0,74,67,74,68.074146
2012,66.964912,81.241358,65,40.314991,41.015038,40,36,70.7,56.999609,75.5,...,51.849558,50,67,60.937888,82,0,82,82,82,73.041806
2013,61.973337,90.976374,64,40.412872,40.855032,38,39.885714,78.7,51,76.870009,...,49.756098,62.29249,65,64.837067,83,0,85,83,85,73.983392
2014,71.858475,92.959151,64.854922,34.363636,45.826838,40,29.857143,89.9,50.964581,83,...,57.894309,58.945946,64,73.582418,85,0,83,85,83,74.775785
2015,71.909414,94.964341,61.911111,29.782609,46.676052,40,27.834711,91.9,52.991131,88.7,...,59.776119,71.822858,73,67.931818,83,0,91,83,91,79.328759
2016,54.972052,52.996446,51.991199,39.800253,46.10019,42,37.745098,55.499923,54.958482,45.9,...,39,41.799926,36,50.008432,45,0,50,45,50,53.705749
2017,73.969725,83.998352,60.459,36.009709,37.071429,27.272727,38.854167,79,47.997372,75.5,...,53.922844,62,65.674842,80.410959,75,0,82,75,82,73.677063
2018,66.993509,82,59.958678,33.844807,32.407087,40,38,78,40,78,...,46.968102,62.5,68,65,75,0,77,75,77,69.762215
2019,78.971179,92,56.95897,36.947863,38.094105,32,39.862213,83,56.990944,82,...,59.887751,68,69,79,87,0,88,87,88,79.052686
2020,63.805348,83.982039,49.915789,36,35.6,40,37.847458,84,34.951965,84.494949,...,40.979284,70,55,84,72,0,78,72,78,68.476684
2021,68.981838,82.002717,57.935236,51,40,38,41.875,79,49.981143,79,...,49.937402,62,66,61,81,0,83,81,83,71.194238

In [ ]:

df_rendements = df_rendements.rename(columns=dict_rename_rend)
df_rendements = df_rendements.rename(columns={96:'FRANCE'})

df_prod = df_prod.rename(columns=dict_rename_prod)
df_prod = df_prod.rename(columns={96:'FRANCE'})

df_surfaces = df_surfaces.rename(columns=dict_rename_surf)
df_surfaces = df_surfaces.rename(columns={96:'FRANCE'})

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')
df

,Unnamed: 0,AIN,AIN.1,AIN.2,AISNE,AISNE.1,AISNE.2,ALLIER,ALLIER.1,ALLIER.2,...,SEINE ST DENIS.2,VAL DE MARNE,VAL DE MARNE.1,VAL DE MARNE.2,VAL D'OISE,VAL D'OISE.1,VAL D'OISE.2,TOTAL,TOTAL.1,TOTAL.2
0,Année,Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),...,Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t)
1,2000,27500,74,203500,184400,82.902386,1528720,47137,68,320531.6,...,3612,379,80,3032,25450,80,203600,4910142,72.640948,35667737.1
2,2001,28008,60,168048,167033,81.928445,1368475.4,45134,54,243723.6,...,3151.2,322,75,2415,22465,77,172980.5,4457702,67.69115,30174697.3
3,2002,29017,73,211824.1,174069,84.931544,1478394.9,44021,62,272930.2,...,3224,404,81,3272.4,25604,83,212513.2,4888878,76.247525,37276484.8
4,2003,24021,53,127311.3,172102,75,1290765,42031,45,189139.5,...,3330,399,62,2473.8,24878,68,169170.4,4513832,64.231984,28993238.3
5,2004,28533,80,228264,175589,91.904635,1613744.3,46000,66,303600,...,3349.5,429,74,3174.6,25248,84,212083.2,4818995,77.866941,37524039.8
6,2005,27039,68,183865.2,178097,80.884209,1440523.5,44000,59,259600,...,3353.8,406,82,3329.2,26088,80,208704,4841253,71.775365,34748270
7,2006,31555,72,227196,177751,79.944979,1421030,44200,60,265200,...,3440,420,80,3360,25402,75,190515,4778563,69.393142,33159950.3
8,2007,32065,62,198803,175688,75.994718,1335136,43000,51,219300,...,3040,405,76,3078,24766,76,188221.6,4766876,64.332304,30666411.5
9,2008,32075,63,202072.5,184688,84.99686,1569790,45600,56,255360,...,2905,429,83,3560.7,25839,83,214463.7,5044853,72.862255,36757936.5
10,2009,27140,69.712601,189200,173633,89.977942,1562314,42700,68,290360,...,3711.3,464,83,3851.2,25046,89,222909.4,4711546,76.555543,36069496.1
11,2010,33300,71.964054,239640.3,177466,83.68559,1485134.7,47300,65,307450,...,2924,470,76,3572,24101,85,204858.5,4898515,72.44367,35486640.3
12,2011,32500,69.815385,226900,186550,81.986695,1529461.8,46300,53,245390,...,3063.6,497,67,3329.9,25745,74,190513,4990178,68.074146,33970210.5
13,2012,34200,66.964912,229020,182476,81.241358,1482459.8,48200,65,313300,...,3017.6,445,82,3649,25715,82,210863,4860633,73.041806,35502941.4
14,2013,33755,61.973337,209191,185560,90.976374,1688157.6,48800,64,312320,...,3366,538,83,4465.4,24645,85,209482.5,4983661,73.983392,36870814.5
15,2014,30030,71.858475,215791,188500,92.959151,1752280,48250,64.854922,312925,...,2614.5,535,85,4547.5,25520,83,211816,5010456,74.775785,37466078.2
16,2015,33780,71.909414,242910,188874,94.964341,1793629.5,49500,61.911111,306460,...,3094,505,83,4191.5,25225,91,229547.5,5161387,79.328759,40944642.4
17,2016,37570,54.972052,206530,185720,52.996446,984250,54540,51.991199,283560,...,1950,465,45,2092.5,24710,50,123550,5131791,53.705749,27560667.8
18,2017,32370,73.969725,239440,182000,83.998352,1528770,50000,60.459,302295,...,2747,430,75,3225,24290,82,199178,4962079,73.677063,36559140.5
19,2018,34665,66.993509,232233,179130,82,1468866,48400,59.958678,290200,...,2733.5,390,75,2925,23030,77,177331,4880208,69.762215,34045411.9
20,2019,34489,78.971179,272363.7,184980,92,1701816,49720,56.95897,283200,...,3476,460,87,4002,23455,88,206404,4998750,79.052686,39516461.6
21,2020,28050,63.805348,178974,169260,83.982039,1421480,47500,49.915789,237100,...,2535,285,72,2052,21220,78,165516,4260925,68.476684,29177401.3
22,2021,37440,68.981838,258268,191420,82.002717,1569696,49410,57.935236,286258,...,2739,430,81,3483,23870,83,198121,4973631,71.194238,35409386.8
23,2022,35000,0,0,190900,0,0,48400,0,0,...,0,415,0,0,23865,0,0,4923970,0,0

In [2]:
def baseline_prec_year(df_rendements, df_surfaces, df_prod, nb_year=22):
    df_baseline_prod = df_prod.shift(1)
    df_baseline_rend = df_rendements.shift(1)
    df_baseline_surf = df_surfaces.shift(1)
    
    df_baseline_prod = df_baseline_prod.dropna()
    df_baseline_rend = df_baseline_rend.dropna()
    df_baseline_surf = df_baseline_surf.dropna()
    
    df_prod = df_prod.iloc[1: , :]
    df_surfaces = df_surfaces.iloc[1: , :]
    df_rendements = df_rendements.iloc[1: , :]

    df_prod = df_prod.tail(nb_year)
    df_surfaces = df_surfaces.tail(nb_year)
    df_rendements = df_rendements.tail(nb_year)
    df_baseline_prod = df_baseline_prod.tail(nb_year)
    df_baseline_rend = df_baseline_rend.tail(nb_year)
    df_baseline_surf = df_baseline_surf.tail(nb_year)
    
    mae_prod = mean_absolute_error(df_baseline_prod, df_prod)
    mae_rend = mean_absolute_error(df_baseline_rend, df_rendements)
    mae_surf = mean_absolute_error(df_baseline_surf, df_surfaces)
    
    results = {'Production' : mae_prod,
           'Surfaces' : mae_surf,
           'Rendements' : mae_rend}

    df_mae = pd.DataFrame.from_dict(results, orient='index')
    df_mae = df_mae.rename(columns={0:'MAE'})

    return df_mae

In [3]:
def get_df_all(df):
    df = df.rename(columns={'Unnamed: 0':'Année'})
    df = df.set_index('Année')

    col_rendements = []
    col_surfaces = []
    col_prod = []

    for col in df.columns :
        if '1' in col: #rendements
            col_rendements.append(col)
        elif '2' in col: #production
            col_prod.append(col)
        else: #surfaces
            col_surfaces.append(col)
            
    df_rendements = df[col_rendements].drop(['Année',2022],axis=0)
    df_prod = df[col_prod].drop(['Année',2022],axis=0)
    df_surfaces = df[col_surfaces].drop(['Année',2022],axis=0)     
    
    dept_codes = [1,2,3,4,5,6,7,8,9,10,
              11,12,13,14,15,16,17,
              18,19,
              21,22,23,24,25,26,27,28,29,
              20,
              30,31,32,33,34,35,36,
              37,38,39,40,41,42,43,
              44,45,46,47,48,49,50,
              51,52,53,54,55,56,57,
              58,59,60,61,62,63,64,
              65,66,67,68,69,70,71,
              72,73,74,75,76,77,78,
              79,80,81,82,83,84,85,
              86,87,88,89,90,91,92,
              93,94,95,96,0]
    
    col_names_rend = df_rendements.columns
    col_names_surf = df_surfaces.columns
    col_names_prod = df_prod.columns
    
    dict_rename_rend = {}
    dict_rename_surf = {}
    dict_rename_prod = {}
    
    i = 0
    for col in col_names_rend:
        dict_rename_rend[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_surf:
        dict_rename_surf[col]=dept_codes[i]
        i = i+1
    
    i = 0
    for col in col_names_prod:
        dict_rename_prod[col]=dept_codes[i]
        i = i+1
        
    df_rendements = df_rendements.rename(columns=dict_rename_rend)
    df_rendements = df_rendements.rename(columns={96:'FRANCE'})
    
    df_prod = df_prod.rename(columns=dict_rename_prod)
    df_prod = df_prod.rename(columns={96:'FRANCE'})
    
    df_surfaces = df_surfaces.rename(columns=dict_rename_surf)
    df_surfaces = df_surfaces.rename(columns={96:'FRANCE'})
    
    return df_rendements, df_surfaces, df_prod

In [10]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

df_rendements, df_surfaces, df_prod = get_df_all(df)
df_mae = baseline_prec_year(df_rendements, df_surfaces, df_prod, nb_year=22)
df_mae

                      MAE
Production  106811.400694
Surfaces      5435.193452
Rendements       7.963408

In [11]:
filepath = 'https://raw.githubusercontent.com/PierreCeraH/deepagri/5d081b5a3fb2185e861d8f37f9bbeb2d88d8bbfe/deepagri/data/Production_Y.csv'
df = pd.read_csv(filepath)
df.drop('Unnamed: 0',axis=1,inplace=True)
df = df.drop('Prod.(t)',axis=1)
df.set_index('Année',inplace=True)
df = df.T
df = df.reset_index()

# Calculating yearly variations in production
df_var = df.copy()
df_var

Année,index,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,203500.0,168048.0,211824.1,127311.3,228264.0,183865.2,227196.0,198803.0,202072.5,...,229020.0,209191.0,215791.0,242910.0,206530.0,239440.0,232233.0,272363.7,178974.0,258268.0
1,2,1528720.0,1368475.4,1478394.9,1290765.0,1613744.3,1440523.5,1421030.0,1335136.0,1569790.0,...,1482459.8,1688157.6,1752280.0,1793629.5,984250.0,1528770.0,1468866.0,1701816.0,1421480.0,1569696.0
2,3,320531.6,243723.6,272930.2,189139.5,303600.0,259600.0,265200.0,219300.0,255360.0,...,313300.0,312320.0,312925.0,306460.0,283560.0,302295.0,290200.0,283200.0,237100.0,286258.0
3,4,8750.0,5728.3,5684.0,3725.2,3814.2,4082.0,4600.4,7207.2,7884.0,...,10623.0,11804.6,11151.0,9727.0,9424.7,7418.0,5801.0,7866.2,8982.0,15417.3
4,5,12630.0,11270.5,14084.0,9415.7,8874.9,6581.8,6769.5,7848.0,8744.0,...,10910.0,11611.0,13523.5,15085.7,14586.1,10899.0,7499.0,10403.5,9612.0,12160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,91,319200.0,268294.0,312641.4,232119.6,312362.2,282619.5,250140.0,276548.8,289487.4,...,276258.0,286557.5,292485.0,286184.0,150885.0,243675.0,233850.0,265654.5,191952.0,243243.0
91,92,16.0,16.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,93,3612.0,3151.2,3224.0,3330.0,3349.5,3353.8,3440.0,3040.0,2905.0,...,3017.6,3366.0,2614.5,3094.0,1950.0,2747.0,2733.5,3476.0,2535.0,2739.0
93,94,3032.0,2415.0,3272.4,2473.8,3174.6,3329.2,3360.0,3078.0,3560.7,...,3649.0,4465.4,4547.5,4191.5,2092.5,3225.0,2925.0,4002.0,2052.0,3483.0
94,95,203600.0,172980.5,212513.2,169170.4,212083.2,208704.0,190515.0,188221.6,214463.7,...,210863.0,209482.5,211816.0,229547.5,123550.0,199178.0,177331.0,206404.0,165516.0,198121.0

In [13]:
url = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Histo_data_YieldsAreasProd.xlsx'
df = pd.read_excel(url, sheet_name='Blé tendre')
df

,Unnamed: 0,AIN,AIN.1,AIN.2,AISNE,AISNE.1,AISNE.2,ALLIER,ALLIER.1,ALLIER.2,...,SEINE ST DENIS.2,VAL DE MARNE,VAL DE MARNE.1,VAL DE MARNE.2,VAL D'OISE,VAL D'OISE.1,VAL D'OISE.2,TOTAL,TOTAL.1,TOTAL.2
0,Année,Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),...,Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t),Suf.(ha),Rend(q/ha),Prod.(t)
1,2000,27500,74,203500,184400,82.902386,1528720,47137,68,320531.6,...,3612,379,80,3032,25450,80,203600,4910142,72.640948,35667737.1
2,2001,28008,60,168048,167033,81.928445,1368475.4,45134,54,243723.6,...,3151.2,322,75,2415,22465,77,172980.5,4457702,67.69115,30174697.3
3,2002,29017,73,211824.1,174069,84.931544,1478394.9,44021,62,272930.2,...,3224,404,81,3272.4,25604,83,212513.2,4888878,76.247525,37276484.8
4,2003,24021,53,127311.3,172102,75,1290765,42031,45,189139.5,...,3330,399,62,2473.8,24878,68,169170.4,4513832,64.231984,28993238.3
5,2004,28533,80,228264,175589,91.904635,1613744.3,46000,66,303600,...,3349.5,429,74,3174.6,25248,84,212083.2,4818995,77.866941,37524039.8
6,2005,27039,68,183865.2,178097,80.884209,1440523.5,44000,59,259600,...,3353.8,406,82,3329.2,26088,80,208704,4841253,71.775365,34748270
7,2006,31555,72,227196,177751,79.944979,1421030,44200,60,265200,...,3440,420,80,3360,25402,75,190515,4778563,69.393142,33159950.3
8,2007,32065,62,198803,175688,75.994718,1335136,43000,51,219300,...,3040,405,76,3078,24766,76,188221.6,4766876,64.332304,30666411.5
9,2008,32075,63,202072.5,184688,84.99686,1569790,45600,56,255360,...,2905,429,83,3560.7,25839,83,214463.7,5044853,72.862255,36757936.5
10,2009,27140,69.712601,189200,173633,89.977942,1562314,42700,68,290360,...,3711.3,464,83,3851.2,25046,89,222909.4,4711546,76.555543,36069496.1
11,2010,33300,71.964054,239640.3,177466,83.68559,1485134.7,47300,65,307450,...,2924,470,76,3572,24101,85,204858.5,4898515,72.44367,35486640.3
12,2011,32500,69.815385,226900,186550,81.986695,1529461.8,46300,53,245390,...,3063.6,497,67,3329.9,25745,74,190513,4990178,68.074146,33970210.5
13,2012,34200,66.964912,229020,182476,81.241358,1482459.8,48200,65,313300,...,3017.6,445,82,3649,25715,82,210863,4860633,73.041806,35502941.4
14,2013,33755,61.973337,209191,185560,90.976374,1688157.6,48800,64,312320,...,3366,538,83,4465.4,24645,85,209482.5,4983661,73.983392,36870814.5
15,2014,30030,71.858475,215791,188500,92.959151,1752280,48250,64.854922,312925,...,2614.5,535,85,4547.5,25520,83,211816,5010456,74.775785,37466078.2
16,2015,33780,71.909414,242910,188874,94.964341,1793629.5,49500,61.911111,306460,...,3094,505,83,4191.5,25225,91,229547.5,5161387,79.328759,40944642.4
17,2016,37570,54.972052,206530,185720,52.996446,984250,54540,51.991199,283560,...,1950,465,45,2092.5,24710,50,123550,5131791,53.705749,27560667.8
18,2017,32370,73.969725,239440,182000,83.998352,1528770,50000,60.459,302295,...,2747,430,75,3225,24290,82,199178,4962079,73.677063,36559140.5
19,2018,34665,66.993509,232233,179130,82,1468866,48400,59.958678,290200,...,2733.5,390,75,2925,23030,77,177331,4880208,69.762215,34045411.9
20,2019,34489,78.971179,272363.7,184980,92,1701816,49720,56.95897,283200,...,3476,460,87,4002,23455,88,206404,4998750,79.052686,39516461.6
21,2020,28050,63.805348,178974,169260,83.982039,1421480,47500,49.915789,237100,...,2535,285,72,2052,21220,78,165516,4260925,68.476684,29177401.3
22,2021,37440,68.981838,258268,191420,82.002717,1569696,49410,57.935236,286258,...,2739,430,81,3483,23870,83,198121,4973631,71.194238,35409386.8
23,2022,35000,0,0,190900,0,0,48400,0,0,...,0,415,0,0,23865,0,0,4923970,0,0

In [14]:
df = df.rename(columns={'Unnamed: 0':'Année'})
df = df.set_index('Année')

col_rendements = []
col_surfaces = []
col_prod = []

for col in df.columns :
    if '1' in col: #rendements
        col_rendements.append(col)
    elif '2' in col: #production
        col_prod.append(col)
    else: #surfaces
        col_surfaces.append(col)

df_rendements = df[col_rendements].drop(['Année'],axis=0)
df_prod = df[col_prod].drop(['Année'],axis=0)
df_surfaces = df[col_surfaces].drop(['Année'],axis=0)     

dept_codes = [1,2,3,4,5,6,7,8,9,10,
          11,12,13,14,15,16,17,
          18,19,
          21,22,23,24,25,26,27,28,29,
          20,
          30,31,32,33,34,35,36,
          37,38,39,40,41,42,43,
          44,45,46,47,48,49,50,
          51,52,53,54,55,56,57,
          58,59,60,61,62,63,64,
          65,66,67,68,69,70,71,
          72,73,74,75,76,77,78,
          79,80,81,82,83,84,85,
          86,87,88,89,90,91,92,
          93,94,95,96,0]

col_names_rend = df_rendements.columns
col_names_surf = df_surfaces.columns
col_names_prod = df_prod.columns

dict_rename_rend = {}
dict_rename_surf = {}
dict_rename_prod = {}

i = 0
for col in col_names_rend:
    dict_rename_rend[col]=dept_codes[i]
    i = i+1

i = 0
for col in col_names_surf:
    dict_rename_surf[col]=dept_codes[i]
    i = i+1

i = 0
for col in col_names_prod:
    dict_rename_prod[col]=dept_codes[i]
    i = i+1

df_rendements = df_rendements.rename(columns=dict_rename_rend)
df_rendements = df_rendements.rename(columns={96:'FRANCE'})

df_prod = df_prod.rename(columns=dict_rename_prod)
df_prod = df_prod.rename(columns={96:'FRANCE'})

df_surfaces = df_surfaces.rename(columns=dict_rename_surf)
df_surfaces = df_surfaces.rename(columns={96:'FRANCE'})

In [18]:
df_surfaces

,1,2,3,4,5,6,7,8,9,10,...,87,88,89,90,91,92,93,94,95,FRANCE
Année,,,,,,,,,,,,,,,,,,,,,
2000,27500,184400,47137,2100,2890,22,3300,67950,6100,120035,...,9560,21630,151500,2300,39900,2,420,379,25450,4910142
2001,28008,167033,45134,1569,2693,20,3321,62822,6185,112981,...,9350,21662,145500,2306,35786,2,404,322,22465,4457702
2002,29017,174069,44021,1436,2725,65,3645,63043,6369,112375,...,10528,21711,144400,2412,38127,2,403,404,25604,4888878
2003,24021,172102,42031,1354,2729,65,3063,59854,5658,101445,...,9896,20423,121270,2214,36869,0,450,399,24878,4513832
2004,28533,175589,46000,1169,2409,65,3594,60888,6239,107957,...,10321,20539,136500,2573,37634,0,385,429,25248,4818995
2005,27039,178097,44000,1189,2143,65,3523,61261,5976,109689,...,10981,20349,136500,2580,38715,0,409,406,26088,4841253
2006,31555,177751,44200,1454,1953,15,3023,60632,5912,109657,...,11098,22209,133000,2768,37900,0,430,420,25402,4778563
2007,32065,175688,43000,1848,1962,12,2950,58387,6055,108892,...,10181,22285,132000,2740,36388,0,400,405,24766,4766876
2008,32075,184688,45600,1971,2186,16,3199,60228,7452,110870,...,12645,24658,133200,2870,34878,0,350,429,25839,5044853
2009,27140,173633,42700,2092,2455,8,2636,57235,5223,106406,...,12173,24477,128400,2672,33598,0,417,464,25046,4711546
2010,33300,177466,47300,1889,2379,13,2932,62592,7050,113145,...,10200,26150,131100,2834,33406,0,344,470,24101,4898515
2011,32500,186550,46300,2811,2580,17,2760,63180,7274,111265,...,10450,24120,129800,2775,34588,0,414,497,25745,4990178
2012,34200,182476,48200,2635,2660,10,2850,58490,7669,94680,...,11300,16600,124200,2415,33690,0,368,445,25715,4860633
2013,33755,185560,48800,2921,2842,8,2800,63210,8379,112800,...,12300,25300,131400,2455,34525,0,396,538,24645,4983661
2014,30030,188500,48250,3245,2951,5,2800,63580,8470,105730,...,12300,22200,122900,2730,34410,0,315,535,25520,5010456
2015,33780,188874,49500,3266,3232,8,2420,65350,9020,111950,...,13400,26380,131000,2860,34480,0,340,505,25225,5161387
2016,37570,185720,54540,2368,3164,8,2550,65120,8430,109440,...,14550,26940,133435,2965,33530,0,390,465,24710,5131791
2017,32370,182000,50000,2060,2940,11,1920,64750,7610,106800,...,13220,25900,126400,2920,32490,0,335,430,24290,4962079
2018,34665,179130,48400,1714,2314,10,1970,64860,7060,106785,...,12540,25600,123700,2810,31180,0,355,390,23030,4880208
2019,34489,184980,49720,2129,2731,15,1916,65060,7730,105900,...,12695,26020,130500,2950,30535,0,395,460,23455,4998750
2020,28050,169260,47500,2495,2700,8,1770,59750,5725,99000,...,10620,23510,110600,2660,26660,0,325,285,21220,4260925
2021,37440,191420,49410,3023,3040,12,1920,69500,7000,113100,...,12780,24640,126000,3000,30030,0,330,430,23870,4973631
2022,35000,190900,48400,2330,2640,10,2000,68000,6900,110000,...,12600,24000,122200,2940,28380,0,320,415,23865,4923970

In [19]:
surfaces2022 = df_surfaces.iloc[-1,:]

In [20]:
surfaces2022

1           35000
2          190900
3           48400
4            2330
5            2640
           ...
92              0
93            320
94            415
95          23865
FRANCE    4923970
Name: 2022, Length: 96, dtype: object

In [21]:
surfaces2022.to_csv('surfaces2022.csv')