In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
filepath = '/Users/pierre/code/PierreCeraH/deepagri/raw_data/cleaned/Production_Y.xlsx'

df = pd.read_excel(filepath)

df = df.rename(columns={'Prod.(t)':'FRANCE'})

y_France = df[['FRANCE']]

df = df.drop('FRANCE', axis=1)
df = df.set_index('Année')

In [23]:
df = df.loc[2009:,:]

In [24]:
df

,1,2,3,4,5,6,7,8,9,10,...,86,87,88,89,90,91,92,93,94,95
Année,,,,,,,,,,,,,,,,,,,,,
2009,189200.0,1562314.0,290360.0,7322.0,10065.5,32.8,7908.0,463603.5,22458.9,883169.8,...,841523.7,69216.1,171162.0,911640,18432.4,278863.4,0,3711.3,3851.2,222909.4
2010,239640.3,1485134.7,307450.0,6233.7,9753.9,12.0,11645.0,488843.6,37365.0,878005.2,...,835948.4,48840.0,164745.0,852150,19268.8,253885.6,0,2924.0,3572.0,204858.5
2011,226900.0,1529461.8,245390.0,10119.6,9030.0,64.6,8280.0,504176.4,34187.8,830036.9,...,714970.0,54055.0,156750.0,804760,19958.0,231739.6,0,3063.6,3329.9,190513.0
2012,229020.0,1482459.8,313300.0,10623.0,10910.0,40.0,10260.0,413524.3,43713.0,714834.0,...,983295.0,58590.0,83000.0,832140,14716.5,276258.0,0,3017.6,3649.0,210863.0
2013,209191.0,1688157.6,312320.0,11804.6,11611.0,30.4,11168.0,497462.7,42732.9,867093.7,...,837570.0,61200.0,157600.0,854100,15917.5,286557.5,0,3366.0,4465.4,209482.5
2014,215791.0,1752280.0,312925.0,11151.0,13523.5,20.0,8360.0,571584.2,43167.0,877559.0,...,861112.0,71210.0,130860.0,786560,20088.0,292485.0,0,2614.5,4547.5,211816.0
2015,242910.0,1793629.5,306460.0,9727.0,15085.7,32.0,6736.0,600566.5,47798.0,992996.5,...,951896.0,80100.0,189468.7,956300,19428.5,286184.0,0,3094.0,4191.5,229547.5
2016,206530.0,984250.0,283560.0,9424.7,14586.1,33.6,9625.0,361415.5,46330.0,502329.6,...,678786.0,56745.0,112609.0,480366,14827.5,150885.0,0,1950.0,2092.5,123550.0
2017,239440.0,1528770.0,302295.0,7418.0,10899.0,30.0,7460.0,511525.0,36526.0,806340.0,...,868032.0,71286.0,160580.0,830130,23480.0,243675.0,0,2747.0,3225.0,199178.0
2018,232233.0,1468866.0,290200.0,5801.0,7499.0,40.0,7486.0,505908.0,28240.0,832923.0,...,808128.0,58898.0,160000.0,841160,18265.0,233850.0,0,2733.5,2925.0,177331.0
2019,272363.7,1701816.0,283200.0,7866.2,10403.5,48.0,7637.6,539998.0,44054.0,868380.0,...,1037530.0,76027.5,176936.0,900450,23305.0,265654.5,0,3476.0,4002.0,206404.0
2020,178974.0,1421480.0,237100.0,8982.0,9612.0,32.0,6699.0,501900.0,20010.0,836500.0,...,514992.5,43520.0,164570.0,608300,22344.0,191952.0,0,2535.0,2052.0,165516.0
2021,258268.0,1569696.0,286258.0,15417.3,12160.0,45.6,8040.0,549050.0,34986.8,893490.0,...,856375.0,63820.0,152768.0,831600,18300.0,243243.0,0,2739.0,3483.0,198121.0

In [25]:
dept_to_keep = [80, 62, 2, 51, 60, 26, 27, 59, 76, 77, 10, 89, 14, 20, 55, 21, 86,
                45, 8, 18, 57, 35, 61, 54, 37, 79, 36, 41, 49, 53, 72, 52, 56, 17,
                32, 28, 85, 50, 67, 70, 3, 63, 71, 58, 78, 44, 16, 47, 91, 1, 81,
                95, 88, 31, 68, 38, 82, 39, 25, 23, 43, 12, 22, 69, 87, 42, 24, 11,
                46, 90, 15, 9, 74, 34, 19, 65, 33, 64, 5, 4, 48, 30, 7, 40, 84, 73,
                13, 93, 94, 83, 66, 29, 6]

cols_to_drop = []

for i in range(1,96):
    if i not in dept_to_keep :
        cols_to_drop.append(i)

df = df.drop(columns=cols_to_drop)

In [26]:
df

,1,2,3,4,5,6,7,8,9,10,...,85,86,87,88,89,90,91,93,94,95
Année,,,,,,,,,,,,,,,,,,,,,
2009,189200.0,1562314.0,290360.0,7322.0,10065.5,32.8,7908.0,463603.5,22458.9,883169.8,...,528590.0,841523.7,69216.1,171162.0,911640,18432.4,278863.4,3711.3,3851.2,222909.4
2010,239640.3,1485134.7,307450.0,6233.7,9753.9,12.0,11645.0,488843.6,37365.0,878005.2,...,457969.4,835948.4,48840.0,164745.0,852150,19268.8,253885.6,2924.0,3572.0,204858.5
2011,226900.0,1529461.8,245390.0,10119.6,9030.0,64.6,8280.0,504176.4,34187.8,830036.9,...,476780.0,714970.0,54055.0,156750.0,804760,19958.0,231739.6,3063.6,3329.9,190513.0
2012,229020.0,1482459.8,313300.0,10623.0,10910.0,40.0,10260.0,413524.3,43713.0,714834.0,...,580073.6,983295.0,58590.0,83000.0,832140,14716.5,276258.0,3017.6,3649.0,210863.0
2013,209191.0,1688157.6,312320.0,11804.6,11611.0,30.4,11168.0,497462.7,42732.9,867093.7,...,466681.5,837570.0,61200.0,157600.0,854100,15917.5,286557.5,3366.0,4465.4,209482.5
2014,215791.0,1752280.0,312925.0,11151.0,13523.5,20.0,8360.0,571584.2,43167.0,877559.0,...,587064.7,861112.0,71210.0,130860.0,786560,20088.0,292485.0,2614.5,4547.5,211816.0
2015,242910.0,1793629.5,306460.0,9727.0,15085.7,32.0,6736.0,600566.5,47798.0,992996.5,...,603367.2,951896.0,80100.0,189468.7,956300,19428.5,286184.0,3094.0,4191.5,229547.5
2016,206530.0,984250.0,283560.0,9424.7,14586.1,33.6,9625.0,361415.5,46330.0,502329.6,...,510691.4,678786.0,56745.0,112609.0,480366,14827.5,150885.0,1950.0,2092.5,123550.0
2017,239440.0,1528770.0,302295.0,7418.0,10899.0,30.0,7460.0,511525.0,36526.0,806340.0,...,575830.6,868032.0,71286.0,160580.0,830130,23480.0,243675.0,2747.0,3225.0,199178.0
2018,232233.0,1468866.0,290200.0,5801.0,7499.0,40.0,7486.0,505908.0,28240.0,832923.0,...,455157.3,808128.0,58898.0,160000.0,841160,18265.0,233850.0,2733.5,2925.0,177331.0
2019,272363.7,1701816.0,283200.0,7866.2,10403.5,48.0,7637.6,539998.0,44054.0,868380.0,...,612506.6,1037530.0,76027.5,176936.0,900450,23305.0,265654.5,3476.0,4002.0,206404.0
2020,178974.0,1421480.0,237100.0,8982.0,9612.0,32.0,6699.0,501900.0,20010.0,836500.0,...,274407.5,514992.5,43520.0,164570.0,608300,22344.0,191952.0,2535.0,2052.0,165516.0
2021,258268.0,1569696.0,286258.0,15417.3,12160.0,45.6,8040.0,549050.0,34986.8,893490.0,...,518638.4,856375.0,63820.0,152768.0,831600,18300.0,243243.0,2739.0,3483.0,198121.0

In [27]:
y = pd.DataFrame(df.stack())

y = y.rename(columns={0:'Production'})
y = y.reset_index()
y['Ind']=y['Année'].astype(str)+'-'+y['level_1'].astype(str)

y = y.drop(['level_1','Année'], axis=1)
y = y.set_index('Ind')

In [28]:
y

         Production
Ind
2009-1     189200.0
2009-2    1562314.0
2009-3     290360.0
2009-4       7322.0
2009-5      10065.5
...             ...
2021-90     18300.0
2021-91    243243.0
2021-93      2739.0
2021-94      3483.0
2021-95    198121.0

[1209 rows x 1 columns]

In [29]:
y[['Production']].sum()

Production    458579293.3
dtype: float64