In [90]:
import pandas as pd

In [91]:
url = '/Users/pierre/code/PierreCeraH/data-challenges/08-Projects/01/data/cleaned data/Historical_Prices_Grains_modif.xlsx'

df = pd.read_excel(url, sheet_name='Ratios')
df

          Dates  Soft Wheat FOB Rouen  Barley FOB Rouen
0    2007-06-01                148.50             139.0
1    2007-06-02                148.50             139.0
2    2007-06-03                148.50             139.0
3    2007-06-04                148.50             141.0
4    2007-06-05                150.00             141.5
...         ...                   ...               ...
5376 2022-02-18                266.30             261.5
5377 2022-02-19                266.30             261.5
5378 2022-02-20                266.30             261.5
5379 2022-02-21                271.75             268.0
5380 2022-02-22                275.00             269.5

[5381 rows x 3 columns]

In [92]:
df.isna().sum()

Dates                   0
Soft Wheat FOB Rouen    0
Barley FOB Rouen        0
dtype: int64

In [95]:
df.dtypes

Dates                   datetime64[ns]
Soft Wheat FOB Rouen           float64
Barley FOB Rouen               float64
dtype: object

In [96]:
df['Ratio']=df['Soft Wheat FOB Rouen']/df['Barley FOB Rouen']