In [137]:
import pandas as pd

# Requests

In [138]:
import requests

headers = {
    'authority': 'www.historique-meteo.net',
    'cache-control': 'max-age=0',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="98", "Google Chrome";v="98"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-user': '?1',
    'sec-fetch-dest': 'document',
    'accept-language': 'en-US,en;q=0.9,fr-FR;q=0.8,fr;q=0.7',
    'cookie': 'euconsent-v2=CPVMwMAPVMwMABcAIBENCECgAP_AAH_AAAqIIDkZ_C9MQWNjUX58A_s0aYxHxgAGoWQADACJgygBCAPA8IQEwGAYIAVAAogKAAAAoiZBAAAhCAlAAAEAQAAAACCMAEAAAAAAICIAgAARAgEACAhBEQAAEAIAAABBABAAgAAEQhoAQAAAAAAgAAAAAAAgAACBAAAAAAAAAAAAAAAAAAggOACYKkxAA2JQYEgQaRQogBBGAAQAIAAIAIGCKAAIAADghABwQAgAAAAAiAgAAACiBgEAAAEACEAAAABAAEAAAAgAAAAAAAAAIgAAAAEAAAAACAABAAAAAAAAAEEAAACAAAAAEABAAAAAACAAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAA.x6pux3I.4UGADABZAIgAVIBJYEsQUGAAQACAAgACAAQAEA; __cf_bm=hCcqraTIErAx6nwKLZgz9TDjZ4wu4uoQT87Endr5poc-1646214827-0-AU0TkF83b7/WneG/VI3+8cTh2Wg8ztjA6KsFZS1dPisLLQbNDZEZmwySzFnwFbi8yWzREDi/Rdhg6Ui8JCcjU2p/cLfs/lgejNTVRs80o+eL8KP3P3DyY+b3MgAxqOQ64w==; cf_chl_2=132b42c028c7279; cf_chl_prog=x10; cf_clearance=S8agieVc5vLXLtutz5AU4UBrLl_m3mFbeSzsf88U_do-1646214878-0-150',
}

# Note: original query string below. It seems impossible to parse and
# reproduce query strings 100% accurately so the one below is given
# in case the reproduced version is not "correct".
#response = requests.get('https://www.historique-meteo.net/site/export.php?ville_id=1012&__cf_chl_tk=vFWkMHNw2zWxMH0yTwZN6gw8xAELrarDG9f.jJsQArk-1646214876-0-gaNycGzNDKU', headers=headers)

In [139]:
dict_id_ville = {'amiens': '226',
 'reims': '177',
 'lille': '210',
 'rouen': '218',
 'troyes': '178',
 'poitiers': '233',
 'tours': '168',
 'rennes': '172',
 'dijon': '170',
 'lannion': '1002',
 'caen': '216',
 'bourges': '163',
 'alen√ßon': '873',
 'saintes': '5655',
 'vannes': '173',
 'nancy': '200',
 'concarneau': '1043',
 'nantes': '221',
 'granville': '2181',
 'clermont-ferrand': '161',
 'Strasbourg': '153',
 'toulouse': '205',
 'colmar': '155',
 'valence': '5977',
 'rodez-aveyron': '1143',
 'puy-en-velay-haute-loire': '871',
 'Limoges': '197',
 'lyon': '201',
 'Cahors-lot': '1144',
 'foix-ariege': '1142',
 'bordeaux': '156',
 'tarbes': '987',
 'mont-de-marsan': '2668',
 'gap-hautes-alpes': '1007',
 'Montpellier': '192',
 'Marseille': '182',
 'Toulon': '986',
 'Perpignan': '848'}

In [140]:
ville_ids = list(dict_id_ville.values())

In [141]:
headers = {
    'authority': 'www.historique-meteo.net',
    'cache-control': 'max-age=0',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="98", "Google Chrome";v="98"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-user': '?1',
    'sec-fetch-dest': 'document',
    'accept-language': 'en-US,en;q=0.9,fr-FR;q=0.8,fr;q=0.7',
    'cookie': 'euconsent-v2=CPVMwMAPVMwMABcAIBENCECgAP_AAH_AAAqIIDkZ_C9MQWNjUX58A_s0aYxHxgAGoWQADACJgygBCAPA8IQEwGAYIAVAAogKAAAAoiZBAAAhCAlAAAEAQAAAACCMAEAAAAAAICIAgAARAgEACAhBEQAAEAIAAABBABAAgAAEQhoAQAAAAAAgAAAAAAAgAACBAAAAAAAAAAAAAAAAAAggOACYKkxAA2JQYEgQaRQogBBGAAQAIAAIAIGCKAAIAADghABwQAgAAAAAiAgAAACiBgEAAAEACEAAAABAAEAAAAgAAAAAAAAAIgAAAAEAAAAACAABAAAAAAAAAEEAAACAAAAAEABAAAAAACAAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAA.x6pux3I.4UGADABZAIgAVIBJYEsQUGAAQACAAgACAAQAEA; cf_chl_2=75acb036ddf7cf3; cf_chl_prog=x13; cf_clearance=H2Mff.MJBNmv27WIzQQCSBttwEAEyAUE.ziKEcRVUz0-1646224922-0-150',
}

params = (
    ('ville_id', '1012'),
    ('__cf_chl_tk', 'fSeTaM8mkCFhgWf2VWdF1WXpSjaDjgV3nct.geHn6Nk-1646224920-0-gaNycGzNC70'),
)

In [142]:
df = pd.DataFrame()
for id_ in ville_ids:
    params = (
        ('ville_id', id_),
        ('__cf_chl_tk', 'fSeTaM8mkCFhgWf2VWdF1WXpSjaDjgV3nct.geHn6Nk-1646224920-0-gaNycGzNC70'),
    )


    response = requests.get('https://www.historique-meteo.net/site/export.php', headers=headers, params=params)
    print((id_, response.status_code))
    tmp = pd.DataFrame([l.split(",") for l in response.text.split("\n")][3:])
    tmp.columns = tmp.iloc[0]
    tmp = tmp.iloc[1:]
    tmp['id'] = id_
    df = df.append(tmp)

('226', 200)
('177', 200)
('210', 200)
('218', 200)
('178', 200)
('233', 200)
('168', 200)
('172', 200)
('170', 200)
('1002', 200)
('216', 200)
('163', 200)
('873', 200)
('5655', 200)
('173', 200)
('200', 200)
('1043', 200)
('221', 200)
('2181', 200)
('161', 200)
('153', 200)
('205', 200)
('155', 200)
('5977', 200)
('1143', 200)
('871', 200)
('197', 200)
('201', 200)
('1144', 200)
('1142', 200)
('156', 200)
('987', 200)
('2668', 200)
('1007', 200)
('192', 200)
('182', 200)
('986', 200)
('848', 200)

In [143]:
df.shape

(182704, 23)

In [144]:
df = df[~df["MAX_TEMPERATURE_C"].isna()]

In [145]:
df.shape

(182666, 23)

# Cleaning

## Meteo_key

In [146]:
meteo_key = pd.read_excel("../raw_data/Meteo/scraped_meteo_name_key.xlsx")

In [147]:
meteo_key = meteo_key[meteo_key['keep']==1.0]
meteo_key

                  name_raw  keep        name_clean   agg    dtype
0                     DATE   1.0              date   key  <M8[ns]
1        MAX_TEMPERATURE_C   1.0            tmax_c   max    int32
2        MIN_TEMPERATURE_C   1.0            tmin_c   min    int32
3        WINDSPEED_MAX_KMH   1.0     windspeed_max   max    int32
7      PRECIP_TOTAL_DAY_MM   1.0           rain_mm   sum  float32
8     HUMIDITY_MAX_PERCENT   1.0      humidity_pct  mean  float32
10         PRESSURE_MAX_MB   1.0    pressuremax_mb   max    int32
11  CLOUDCOVER_AVG_PERCENT   1.0  cloudcov_avg_pct  mean  float32
12         HEATINDEX_MAX_C   1.0         heatmax_c   max    int32
13          DEWPOINT_MAX_C   1.0          dewmax_c   max    int32
14          WINDTEMP_MAX_C   1.0    windtemp_max_c   max    int32
18           TOTAL_SNOW_MM   1.0           snow_mm  mean  float32
19                UV_INDEX   1.0            uv_idx  mean    int32
20                 SUNHOUR   1.0           sunhour  mean  float32
22                      id   1.0                id   key      str

## Name

In [148]:
name_dict = pd.Series(meteo_key['name_clean'].values, index=meteo_key['name_raw']).to_dict()
name_dict

{'DATE': 'date',
 'MAX_TEMPERATURE_C': 'tmax_c',
 'MIN_TEMPERATURE_C': 'tmin_c',
 'WINDSPEED_MAX_KMH': 'windspeed_max',
 'PRECIP_TOTAL_DAY_MM': 'rain_mm',
 'HUMIDITY_MAX_PERCENT': 'humidity_pct',
 'PRESSURE_MAX_MB': 'pressuremax_mb',
 'CLOUDCOVER_AVG_PERCENT': 'cloudcov_avg_pct',
 'HEATINDEX_MAX_C': 'heatmax_c',
 'DEWPOINT_MAX_C': 'dewmax_c',
 'WINDTEMP_MAX_C': 'windtemp_max_c',
 'TOTAL_SNOW_MM': 'snow_mm',
 'UV_INDEX': 'uv_idx',
 'SUNHOUR': 'sunhour',
 'id': 'id'}

## Agg

In [149]:
agg_dict = pd.Series(meteo_key['agg'].values, index=meteo_key['name_clean']).to_dict()
agg_dict

{'date': 'key',
 'tmax_c': 'max',
 'tmin_c': 'min',
 'windspeed_max': 'max',
 'rain_mm': 'sum',
 'humidity_pct': 'mean',
 'pressuremax_mb': 'max',
 'cloudcov_avg_pct': 'mean',
 'heatmax_c': 'max',
 'dewmax_c': 'max',
 'windtemp_max_c': 'max',
 'snow_mm': 'mean',
 'uv_idx': 'mean',
 'sunhour': 'mean',
 'id': 'key'}

## Cleaning df

In [150]:
df = df[meteo_key.name_raw]

In [151]:
df = df.rename(columns=name_dict)

In [152]:
df = df.reset_index(drop=True)

In [153]:
df['date'] = pd.to_datetime(df['date'])

In [154]:
df = df.set_index("date")

In [155]:
df

,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,heatmax_c,dewmax_c,windtemp_max_c,snow_mm,uv_idx,sunhour,id
date,,,,,,,,,,,,,,
2009-01-01,2,-4,11,0,92,1029,8.25,2,0,-7,0,2,8.5,226
2009-01-02,1,-6,12,0,81,1029,28.875,1,0,-11,0,2,8.5,226
2009-01-03,0,-3,15,0,92,1029,35.875,0,0,-8,0,1,8.5,226
2009-01-04,0,-5,13,0.4,81,1026,57.375,0,0,-9,0.3,2,5,226
2009-01-05,-0,-1,26,4.9,97,1022,100,0,0,-7,4.1,1,3.2,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-24,17,9,11,0,83,1025,25.125,17,8,9,0,3,11,848
2022-02-25,13,9,37,0,69,1028,13.75,13,6,5,0,4,11,848
2022-02-26,14,5,16,0,55,1029,0,14,3,1,0,3,11.1,848
2022-02-27,13,6,10,0,65,1029,34.25,13,3,6,0,3,10.1,848
2022-02-28,18,7,11,0,77,1028,20.5,18,7,6,0,3,11.1,848

In [156]:
df.to_csv('../raw_data/Meteo/historique_meteo_daily.csv')

## Aggregating by trimester

In [158]:
pd.DataFrame(pd.Series(dict_id_ville))

                             0
amiens                     226
reims                      177
lille                      210
rouen                      218
troyes                     178
poitiers                   233
tours                      168
rennes                     172
dijon                      170
lannion                   1002
caen                       216
bourges                    163
alen√ßon                    873
saintes                   5655
vannes                     173
nancy                      200
concarneau                1043
nantes                     221
granville                 2181
clermont-ferrand           161
Strasbourg                 153
toulouse                   205
colmar                     155
valence                   5977
rodez-aveyron             1143
puy-en-velay-haute-loire   871
Limoges                    197
lyon                       201
Cahors-lot                1144
foix-ariege               1142
bordeaux                   156
tarbes                     987
mont-de-marsan            2668
gap-hautes-alpes          1007
Montpellier                192
Marseille                  182
Toulon                     986
Perpignan                  848

In [115]:
df.resample("W-MON").sum()

,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,heatmax_c,dewmax_c,windtemp_max_c,snow_mm,uv_idx,sunhour,id
date,,,,,,,,,,,,,,
2009-01-05,2313465446453863555111214231532075-06440111122...,-4-3-5-2-30-1-2-330-1-3620310-6-5-5-4-3-1-2-3-...,1181014919191814282017151825624232112159151522...,00000000000000.20.10.12.900000.100000000000000...,9295909497859093957890899592809785768981889172...,1029102910301029102910251027102610291025102810...,8.2515.3751210.515.2512.8759.12524.5644.6253.8...,2313465446453863555111214231532075064401111222...,0000000001000501300000000000100000010000000000...,-7-6-6-6-3-5-6-7-4-2-5-6-83-4-1-2-5-5-11-9-6-9...,0000000000000000000000.10000000000000000000.10...,2121122212212221122222212222222222112212112222...,8.58.28.18.68.78.78.78.78.75.88.68.78.76.956.8...,2261772102181782331681721701002216163873565517...
2009-01-12,-3-3-4-2-3-1-21-330-2-212-4312-0-4-02-4-3-33-3...,-7-7-8-4-6-4-4-1-52-1-5-4-10-60-11-10-10-8-8-9...,2117212115242022222827202228282121252611101311...,0.20.300.60.11.81.60.40.320.51.10.20.40.10.300...,9492918993879282908186948780828983838296809893...,1025102410261024102210211022102310191024102410...,32.37525.7519.2542.256577.37588.12548.62572.87...,0000000103000120312000200030530004041400130005...,0000000000000000000000200000320000010200030002...,-15-13-14-11-11-10-10-7-12-3-7-11-10-7-6-13-5-...,0.20.300.50.11.51.40.30.30.60.20.90.20.300.300...,1111211121111111211222222121221222122211112221...,8.68.68.58.65.13.33.36.93.33.98.63.36.98.76.93...,2261772102181782331681721701002216163873565517...
2009-01-19,5346544117109657114111110556655664107358113119...,3035-1-108-297-13210-2979123320030552136-24650...,2017222112181723132628122414191322252113131213...,6.82.46.811.10.142.814.600.42.20.4185.614.400....,9885989764949697719095699997947192969498989897...,1015101910141015102110201020101610231015101510...,10060.2510094.2550.62565.1257256.518.752371.57...,5346544117109657114111110556655664107358113119...,4045044909714690999435534552742467287510210113...,-1-5-10-6-6-55-653-5-2-28-7746-2-1-0-1-1-4-42-...,0000000000000000000000000000000000000000000000...,1212222223221222222211211122231133223321221122...,3.35.13.23.35.13.43.36.98.75.83.33.33.35.28.78...,2261772102181782331681721701002216163873565517...
2009-01-26,5554666767674885787555556575975489510878571059...,20321333353316525540120122-11521-143-152332351...,2115281717261918152622191617231521212217121618...,2.50.21.30.900.20.10.30.31.700.30.24.91.803.71...,9495919495949394938592949787869383908996989494...,9991000999999100110011001998100399899910021000...,74.12542.87570.572.2535.87549.6255047.37554.37...,5554666767674885787555556575975489510878571059...,3333433334323533443222322252733247295574684881...,-3-4-2-3-2-2-2-1-11-2-2-422-211-0-4-2-2-4-2-2-...,00000000000000000000000000000000.3000000000000...,1212222222112231233111212211222122132321221333...,6.98.76.95.18.73.43.46.96.98.73.36.93.43.46.98...,2261772102181782331681721701002216163873565517...
2009-02-02,6587478939857910310109544647654956361031167333...,321132101622-154-2622-2-2-20-2004-164-2139-310...,1210106128711152113146121781671412121314513132...,0.10.20.2010.600.411.500.200.70.402.60.30.3000...,9494969594989698969492949594919396979395878796...,1017101610171017101610171017101610171014101610...,49.7535.37522.7516.559.12545.62517.2543.12586....,6587478939857910310109544647654956361031167333...,3244244619523580966100303350841259010560000020...,0-1-1-10-1-1-0-341-1-134-44-12-6-6-6-3-3-3-31-...,000000000.60000000000000000000.100000000000000...,1111111212311222323222111111222122232212122222...,5.28.78.78.75.278.78.73.56.58.73.58.79.78.28.7...,2261772102181782331681721701002216163873565517...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-31,8101011109998108111013118910101198910910889888...,0111000-1-1300-122-120400110011-16300220605103...,1078988986151081081488109107108896941184811107...,00000000000000000000000000000000000000000.300....,9289879290909190909090899089879389927891909394...,1038103710381038103610361036103710361037103810...,1.250.2500.87500000.53.25000006.3750004.6255.2...,8101011109998108111013118910101198910910889888...,2556542335345652446643542232543326134686794447...,-31-1-1-2-2-3-3-21-2-2-3-1-2-1-1-42-3-1-1-1-1-...,0000000000000000000000000000000000000000000000...,2233222223232332323222322222232233222332322323...,8.78.78.78.78.78.78.78.78.79.58.78.78.78.79.68...,2261772102181782331681721701002216163873565517...
2022-02-07,1191211810111551112810111371213101210121110121...,4037023701081548097998109888779878977879758753...,3027302927162325163229221925272926214324232425...,00.5000.40.1000.70.10.10.20001.2000000.100.200...,9597949496969488959192979591899591889293948591...,1028102810261029102910331032103310301034103110...,63.6257368.12576.37572.87576.37577.2570.87562....,1191211810111551112810111371213101210121110121...,9789799105101088811691098889888878886888889566...,1-4-03-3-1-05-264-2225-46455576565547545854656...,0000000000000000000000000000000000000000000000...,3233233424213331432223322232232323222322222332...,3.53.53.43.53.54.93.58.25.28.23.53.53.56.66.65...,2261772102181782331681721701002216163873565517...
2022-02-14,1181212914121291313111115117121312121111121016...,6166123408602271737638522130770335152753565444...,1811201310149107181498121211138161381596128914...,000000000000000000000000000000000000000.60.41....,9486949481818094758791829580867895859190918493...,1033103410311033103610361036103510371033103310...,78.7570.58774.62530.252.1252.37514.254.87527.7...,1181212914121291313111115117121312121111121016...,8588323708817471978666637343762596267776667897...,2-234-2-112063-2-0-15-162431640-0-11-265-3302-...,0000000000000000000000000000000000000000000000...,3223333324333332433332333333333333333333223333...,3.53.63.54.95.310109.98.79.98.3109.910103.79.9...,2261772102181782331681721701002216163873565517...
2022-02-21,9910991010117111098111171112101312131312151514...,2342332347231464837109101291111125121291111115...,2722272720192026183628182121351732273331302933...,0.10.10.50.40.2000.20.20.90.20.20.20.20.50.50....,9295859296889592909190919490909392928495939597...,1018102010171019102110241023102210231020101910...,70.12556.574.7571.2562.87562.566.2579.8758387....,9910991010117111098111171112101312131312151514...,7568477951085789410981111111211121112812111111...,-1-01-1-10-1-114-10-214050376785889-0996888099...,0000000000000000000000000000000000000000000000...,3323233322223332332333333332333333233322233332...,8.3108.36.7106.76.75.16.95.16.78.46.76.75.13.8...,2261772102181782331681721701002216163873565517...
2022-02-28,1191112912121381212101014128121212111111111112...,5556646731174769410794344344355352854437677668...,2723272722192221153430181916272324222915101614...,0.1000.10.200.10.10.20.40.30.10.2000.1000.30.1...,9392909690959295889196949495969297979395959194...,1023102510211024102710301029102810291028102510...,8887.7577.3758796.257883.7577.57784.2582.25909...,1191112912121381212101014128121212111111111112...,8889889105109888106101095645887575584966676565...,22133235-0741456084612222123321316323152433365...,0000000000000000000000000000000000000000000000...,2322222423422442443222322332332233233323233223...,5.45.45.45.45.45.45.45.25.45.25.45.45.48.55.25...,2261772102181782331681721701002216163873565517...