In [2]:
import pandas as pd

# Get import dict

In [11]:
df = pd.read_excel("../raw_data/Meteo/Classement_Departement.xlsx")

In [12]:
df = df[['Departement','id_hist_meteo']]

In [13]:
df = df[41:]

In [15]:
df = df.dropna()

In [21]:
df = df[df.columns].astype(int)

In [22]:
dict_id_ville = pd.Series(df['id_hist_meteo'].values, index=df['Departement']).to_dict()
dict_id_ville

{80: 226,
 62: 212,
 2: 1155,
 51: 177,
 60: 1018,
 26: 5977,
 27: 1008,
 59: 210,
 76: 218,
 77: 998,
 10: 178,
 89: 171,
 14: 216,
 55: 4800,
 21: 170,
 86: 233,
 45: 164,
 8: 887,
 18: 163,
 57: 199,
 35: 172,
 61: 873,
 54: 200,
 37: 168,
 79: 1156,
 36: 167,
 41: 169,
 49: 225,
 53: 1154,
 72: 1001,
 52: 1036,
 56: 173,
 17: 5655,
 32: 1035,
 28: 166,
 85: 7927,
 50: 2181,
 67: 153,
 70: 1623,
 3: 872,
 63: 161,
 71: 999,
 58: 876,
 78: 189,
 44: 221,
 16: 1012,
 47: 493,
 91: 1080,
 1: 1016,
 81: 207,
 95: 1938,
 88: 1114,
 31: 205,
 68: 155,
 38: 1006,
 82: 1140,
 39: 4095,
 25: 186,
 23: 1112,
 43: 871,
 12: 1143,
 22: 1002,
 69: 201,
 87: 197,
 42: 990,
 24: 2666,
 11: 193,
 46: 1144,
 90: 187,
 15: 518,
 9: 1142,
 74: 1025,
 34: 192,
 19: 198,
 65: 987,
 33: 156,
 64: 158,
 5: 1007,
 4: 5890,
 48: 1111,
 30: 195,
 7: 1070,
 40: 2668,
 84: 184,
 73: 1013,
 13: 182,
 93: 986,
 94: 4252,
 83: 986,
 66: 848,
 29: 1043,
 6: 181}

In [ ]:
# dict_id_ville = {'amiens': '226',
#  'reims': '177',
#  'lille': '210',
#  'rouen': '218',
#  'troyes': '178',
#  'poitiers': '233',
#  'tours': '168',
#  'rennes': '172',
#  'dijon': '170',
#  'lannion': '1002',
#  'caen': '216',
#  'bourges': '163',
#  'alen√ßon': '873',
#  'saintes': '5655',
#  'vannes': '173',
#  'nancy': '200',
#  'concarneau': '1043',
#  'nantes': '221',
#  'granville': '2181',
#  'clermont-ferrand': '161',
#  'Strasbourg': '153',
#  'toulouse': '205',
#  'colmar': '155',
#  'valence': '5977',
#  'rodez-aveyron': '1143',
#  'puy-en-velay-haute-loire': '871',
#  'Limoges': '197',
#  'lyon': '201',
#  'Cahors-lot': '1144',
#  'foix-ariege': '1142',
#  'bordeaux': '156',
#  'tarbes': '987',
#  'mont-de-marsan': '2668',
#  'gap-hautes-alpes': '1007',
#  'Montpellier': '192',
#  'Marseille': '182',
#  'Toulon': '986',
#  'Perpignan': '848'}

# Requests

In [24]:
ville_ids = list(dict_id_ville.values())

In [27]:
import requests

headers = {
    'authority': 'www.historique-meteo.net',
    'cache-control': 'max-age=0',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="98", "Google Chrome";v="98"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-user': '?1',
    'sec-fetch-dest': 'document',
    'accept-language': 'en-US,en;q=0.9,fr-FR;q=0.8,fr;q=0.7',
    'cookie': 'euconsent-v2=CPVMwMAPVMwMABcAIBENCECgAP_AAH_AAAqIIDkZ_C9MQWNjUX58A_s0aYxHxgAGoWQADACJgygBCAPA8IQEwGAYIAVAAogKAAAAoiZBAAAhCAlAAAEAQAAAACCMAEAAAAAAICIAgAARAgEACAhBEQAAEAIAAABBABAAgAAEQhoAQAAAAAAgAAAAAAAgAACBAAAAAAAAAAAAAAAAAAggOACYKkxAA2JQYEgQaRQogBBGAAQAIAAIAIGCKAAIAADghABwQAgAAAAAiAgAAACiBgEAAAEACEAAAABAAEAAAAgAAAAAAAAAIgAAAAEAAAAACAABAAAAAAAAAEEAAACAAAAAEABAAAAAACAAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAA.x6pux3I.4UGADABZAIgAVIBJYEsQUGAAQACAAgACAAQAEA; __cf_bm=Di2L8jxikHuSJHZRNgesRFLBepxkl4E8oDqvl2PJMCE-1646239212-0-AUOaf4uL234JMUtszbG0XDwqvME7TVP6W5wCrZEH3MCcRiroMq4SNHJP5eY4VbbBHMkadugjGzzr0rOOtlTGNyaCRjx9Hsj9OBjHpMDBsBlt0aB7dsRe3tQ1j7M0LfP9Ng==; cf_chl_2=adc02f13b061aeb; cf_chl_prog=x13; cf_clearance=OttlazaBXPv2HC95OcfdQbN96esT99sTsO8k_lgB7aY-1646240806-0-150',
}

In [28]:
df = pd.DataFrame()
for id_ in ville_ids:
    params = (
        ('ville_id', id_),
        ('__cf_chl_tk', 'CvCYimxUevo9GuQcgbdY_y9Ei82lwPsZvJTwASYjJ8g-1646240804-0-gaNycGzNDKU'),
    )


    response = requests.get('https://www.historique-meteo.net/site/export.php', headers=headers, params=params)
    print((id_, response.status_code))
    tmp = pd.DataFrame([l.split(",") for l in response.text.split("\n")][3:])
    tmp.columns = tmp.iloc[0]
    tmp = tmp.iloc[1:]
    tmp['id'] = id_
    df = df.append(tmp)

(226, 200)
(212, 200)
(1155, 200)
(177, 200)
(1018, 200)
(5977, 200)
(1008, 200)
(210, 200)
(218, 200)
(998, 200)
(178, 200)
(171, 200)
(216, 200)
(4800, 200)
(170, 200)
(233, 200)
(164, 200)
(887, 200)
(163, 200)
(199, 200)
(172, 200)
(873, 200)
(200, 200)
(168, 200)
(1156, 200)
(167, 200)
(169, 200)
(225, 200)
(1154, 200)
(1001, 200)
(1036, 200)
(173, 200)
(5655, 200)
(1035, 200)
(166, 200)
(7927, 200)
(2181, 200)
(153, 200)
(1623, 200)
(872, 200)
(161, 200)
(999, 200)
(876, 200)
(189, 200)
(221, 200)
(1012, 200)
(493, 200)
(1080, 200)
(1016, 200)
(207, 200)
(1938, 200)
(1114, 200)
(205, 200)
(155, 200)
(1006, 200)
(1140, 200)
(4095, 200)
(186, 200)
(1112, 200)
(871, 200)
(1143, 200)
(1002, 200)
(201, 200)
(197, 200)
(990, 200)
(2666, 200)
(193, 200)
(1144, 200)
(187, 200)
(518, 200)
(1142, 200)
(1025, 200)
(192, 200)
(198, 200)
(987, 200)
(156, 200)
(158, 200)
(1007, 200)
(5890, 200)
(1111, 200)
(195, 200)
(1070, 200)
(2668, 200)
(184, 200)
(1013, 200)
(182, 200)
(986, 200)
(4252, 200)
(986, 200)
(848, 200)
(1043, 200)
(181, 200)

In [143]:
df.shape

(182704, 23)

In [29]:
df.shape

(442336, 23)

In [30]:
df = df[~df["MAX_TEMPERATURE_C"].isna()]

In [31]:
df.shape

(442244, 23)

# Cleaning

## Meteo_key

In [32]:
meteo_key = pd.read_excel("../raw_data/Meteo/scraped_meteo_name_key.xlsx")

In [33]:
meteo_key = meteo_key[meteo_key['keep']==1.0]
meteo_key

,name_raw,keep,name_clean,agg,dtype
0,DATE,1.0,date,key,<M8[ns]
1,MAX_TEMPERATURE_C,1.0,tmax_c,count_pos_outliers,int32
2,MIN_TEMPERATURE_C,1.0,tmin_c,count_neg_outliers,int32
3,WINDSPEED_MAX_KMH,1.0,windspeed_max,mean,int32
4,PRECIP_TOTAL_DAY_MM,1.0,rain_mm,sum,float32
5,HUMIDITY_MAX_PERCENT,1.0,humidity_pct,mean,float32
6,PRESSURE_MAX_MB,1.0,pressuremax_mb,mean,int32
7,CLOUDCOVER_AVG_PERCENT,1.0,cloudcov_avg_pct,mean,float32
9,DEWPOINT_MAX_C,1.0,dewmax_c,max,int32
10,TOTAL_SNOW_MM,1.0,snow_mm,sum,float32
11,UV_INDEX,1.0,uv_idx,mean,int32
12,SUNHOUR,1.0,sunhour,mean,float32
13,id,1.0,id,key,str

## Name

In [34]:
name_dict = pd.Series(meteo_key['name_clean'].values, index=meteo_key['name_raw']).to_dict()
name_dict

{'DATE': 'date',
 'MAX_TEMPERATURE_C': 'tmax_c',
 'MIN_TEMPERATURE_C': 'tmin_c',
 'WINDSPEED_MAX_KMH': 'windspeed_max',
 'PRECIP_TOTAL_DAY_MM': 'rain_mm',
 'HUMIDITY_MAX_PERCENT': 'humidity_pct',
 'PRESSURE_MAX_MB': 'pressuremax_mb',
 'CLOUDCOVER_AVG_PERCENT': 'cloudcov_avg_pct',
 'DEWPOINT_MAX_C': 'dewmax_c',
 'TOTAL_SNOW_MM': 'snow_mm',
 'UV_INDEX': 'uv_idx',
 'SUNHOUR': 'sunhour',
 'id': 'id'}

## Agg

In [35]:
agg_dict = pd.Series(meteo_key['agg'].values, index=meteo_key['name_clean']).to_dict()
agg_dict

{'date': 'key',
 'tmax_c': 'count_pos_outliers',
 'tmin_c': 'count_neg_outliers',
 'windspeed_max': 'mean',
 'rain_mm': 'sum',
 'humidity_pct': 'mean',
 'pressuremax_mb': 'mean',
 'cloudcov_avg_pct': 'mean',
 'dewmax_c': 'max',
 'snow_mm': 'sum',
 'uv_idx': 'mean',
 'sunhour': 'mean',
 'id': 'key'}

## Cleaning df

In [36]:
df = df[meteo_key.name_raw]

In [37]:
df = df.rename(columns=name_dict)

In [38]:
df = df.reset_index(drop=True)

In [39]:
df['date'] = pd.to_datetime(df['date'])

In [40]:
df = df.set_index("date")

In [41]:
df

,tmax_c,tmin_c,windspeed_max,rain_mm,humidity_pct,pressuremax_mb,cloudcov_avg_pct,dewmax_c,snow_mm,uv_idx,sunhour,id
date,,,,,,,,,,,,
2009-01-01,2,-4,11,0,92,1029,8.25,0,0,2,8.5,226
2009-01-02,1,-6,12,0,81,1029,28.875,0,0,2,8.5,226
2009-01-03,0,-3,15,0,92,1029,35.875,0,0,1,8.5,226
2009-01-04,0,-5,13,0.4,81,1026,57.375,0,0.3,2,5,226
2009-01-05,-0,-1,26,4.9,97,1022,100,0,4.1,1,3.2,226
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-24,13,10,9,0,58,1026,27.875,6,0,4,11,181
2022-02-25,13,9,10,0.5,70,1019,21.375,8,0,4,11,181
2022-02-26,15,8,16,0.3,40,1027,18.75,4,0,3,11,181
2022-02-27,10,8,6,0,65,1029,27.5,3,0,3,10.1,181
2022-02-28,13,6,12,0,46,1028,0.625,3,0,3,11.1,181

In [42]:
df.to_csv('../raw_data/Meteo/historique_meteo_daily.csv')