In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../raw_data/Meteo/synop.202101.csv', sep=";")

In [3]:
df['year'] = df["date"].astype(str).str[:4]

In [4]:
df['month'] = df["date"].astype(str).str[4:6]

In [5]:
df['month'].unique()

array(['01'], dtype=object)

In [6]:
df.columns

Index(['numer_sta', 'date', 'pmer', 'tend', 'cod_tend', 'dd', 'ff', 't', 'td',
       'u', 'vv', 'ww', 'w1', 'w2', 'n', 'nbas', 'hbas', 'cl', 'cm', 'ch',
       'pres', 'niv_bar', 'geop', 'tend24', 'tn12', 'tn24', 'tx12', 'tx24',
       'tminsol', 'sw', 'tw', 'raf10', 'rafper', 'per', 'etat_sol', 'ht_neige',
       'ssfrai', 'perssfrai', 'rr1', 'rr3', 'rr6', 'rr12', 'rr24', 'phenspe1',
       'phenspe2', 'phenspe3', 'phenspe4', 'nnuage1', 'ctype1', 'hnuage1',
       'nnuage2', 'ctype2', 'hnuage2', 'nnuage3', 'ctype3', 'hnuage3',
       'nnuage4', 'ctype4', 'hnuage4', 'Unnamed: 59', 'year', 'month'],
      dtype='object')

## 202202

In [38]:
df2 = pd.read_csv('../raw_data/Meteo/synop.202202.csv', sep=";")

In [31]:
df.date.unique()

array([20220201000000, 20220201030000, 20220201060000, 20220201090000,
       20220201120000, 20220201150000, 20220201180000, 20220201210000,
       20220202000000, 20220202030000, 20220202060000, 20220202090000,
       20220202120000, 20220202150000, 20220202180000, 20220202210000,
       20220203000000, 20220203030000, 20220203060000, 20220203090000,
       20220203120000, 20220203150000, 20220203180000, 20220203210000,
       20220204000000, 20220204030000, 20220204060000, 20220204090000,
       20220204120000, 20220204150000, 20220204180000, 20220204210000,
       20220205000000, 20220205030000, 20220205060000, 20220205090000,
       20220205120000, 20220205150000, 20220205180000, 20220205210000,
       20220206000000, 20220206030000, 20220206060000, 20220206090000,
       20220206120000, 20220206150000, 20220206180000, 20220206210000,
       20220207000000, 20220207030000, 20220207060000, 20220207090000,
       20220207120000, 20220207150000, 20220207180000, 20220207210000,
       20220208000000, 20220208030000, 20220208060000, 20220208090000,
       20220208120000, 20220208150000, 20220208180000, 20220208210000,
       20220209000000, 20220209030000, 20220209060000, 20220209090000,
       20220209120000, 20220209150000, 20220209180000, 20220209210000,
       20220210000000, 20220210030000, 20220210060000, 20220210090000,
       20220210120000, 20220210150000, 20220210180000, 20220210210000,
       20220211000000, 20220211030000, 20220211060000, 20220211090000,
       20220211120000, 20220211150000, 20220211180000, 20220211210000,
       20220212000000, 20220212030000, 20220212060000, 20220212090000,
       20220212120000, 20220212150000, 20220212180000, 20220212210000,
       20220213000000, 20220213030000, 20220213060000, 20220213090000,
       20220213120000, 20220213150000, 20220213180000, 20220213210000,
       20220214000000, 20220214030000, 20220214060000, 20220214090000,
       20220214120000, 20220214150000, 20220214180000, 20220214210000,
       20220215000000, 20220215030000, 20220215060000, 20220215090000,
       20220215120000, 20220215150000, 20220215180000, 20220215210000,
       20220216000000, 20220216030000, 20220216060000, 20220216090000,
       20220216120000, 20220216150000, 20220216180000, 20220216210000,
       20220217000000, 20220217030000, 20220217060000, 20220217090000,
       20220217120000, 20220217150000, 20220217180000, 20220217210000,
       20220218000000, 20220218030000, 20220218060000, 20220218090000,
       20220218120000, 20220218150000, 20220218180000, 20220218210000,
       20220219000000, 20220219030000, 20220219060000, 20220219090000,
       20220219120000, 20220219150000, 20220219180000, 20220219210000,
       20220220000000, 20220220030000, 20220220060000, 20220220090000,
       20220220120000, 20220220150000, 20220220180000, 20220220210000,
       20220221000000, 20220221030000, 20220221060000, 20220221090000,
       20220221120000, 20220221150000, 20220221180000, 20220221210000,
       20220222000000, 20220222030000, 20220222060000, 20220222090000,
       20220222120000, 20220222150000, 20220222180000, 20220222210000,
       20220223000000, 20220223030000, 20220223060000, 20220223090000,
       20220223120000, 20220223150000, 20220223180000, 20220223210000,
       20220224000000, 20220224030000, 20220224060000, 20220224090000,
       20220224120000, 20220224150000, 20220224180000, 20220224210000,
       20220225000000, 20220225030000, 20220225060000, 20220225090000,
       20220225120000, 20220225150000, 20220225180000, 20220225210000,
       20220226000000, 20220226030000, 20220226060000, 20220226090000,
       20220226120000, 20220226150000, 20220226180000, 20220226210000,
       20220227000000, 20220227030000, 20220227060000, 20220227090000,
       20220227120000, 20220227150000, 20220227180000, 20220227210000,
       20220228000000, 20220228030000, 20220228060000, 20220228090000,
       20220228120000, 20220228150000, 20220228180000, 20220228210000])

In [23]:
df = df.replace("mq", np.nan)

In [24]:
df['etat_sol']

0          0
1          2
2        NaN
3          5
4        NaN
        ...
14703    NaN
14704    NaN
14705    NaN
14706    NaN
14707    NaN
Name: etat_sol, Length: 14708, dtype: object

In [18]:
df.groupby(['year', 'numer_sta']).mean()

                        date  Unnamed: 59
year numer_sta
2021 7005       2.021012e+13          NaN
     7015       2.021012e+13          NaN
     7020       2.021012e+13          NaN
     7027       2.021012e+13          NaN
     7037       2.021012e+13          NaN
...                      ...          ...
     81401      2.021012e+13          NaN
     81405      2.021012e+13          NaN
     81408      2.021012e+13          NaN
     81415      2.021012e+13          NaN
     89642      2.021012e+13          NaN

[61 rows x 2 columns]

In [6]:
df[df['etat_sol']=="mq"]

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
2,7020,20210101000000,100820,90,1,150,1.900000,274.750000,270.250000,72,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
4,7037,20210101000000,100850,80,1,340,1.400000,271.350000,270.750000,96,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
5,7072,20210101000000,100710,110,2,240,1.900000,274.650000,274.050000,96,...,8,mq,1560,mq,mq,mq,mq,mq,mq,NaN
7,7117,20210101000000,100810,50,3,290,1.700000,276.750000,274.750000,87,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
8,7130,20210101000000,100830,10,0,0,0.000000,270.650000,270.350000,98,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14703,81401,20210131210000,101040,20,5,40,2.300000,301.050000,296.250000,75,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
14704,81405,20210131210000,101060,-30,5,40,5.500000,300.350000,296.150000,78,...,5,mq,960,6,mq,1200,mq,mq,mq,NaN
14705,81408,20210131210000,100980,0,5,20,2.000000,300.650000,298.250000,87,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
14706,81415,20210131210000,100940,30,5,200,1.900000,299.650000,296.950000,85,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
14707,89642,20210131210000,98100,110,3,130,7.200000,267.550000,260.750000,55,...,3,3,2400,8,4,3000,mq,mq,mq,NaN

In [5]:
df['etat_sol'].value_counts()

mq    8797
0     2588
2     1388
1     1288
13     231
5      157
4      125
12      66
15      18
11      17
18      17
16      12
17       4
Name: etat_sol, dtype: int64

In [4]:
df.columns

Index(['numer_sta', 'date', 'pmer', 'tend', 'cod_tend', 'dd', 'ff', 't', 'td',
       'u', 'vv', 'ww', 'w1', 'w2', 'n', 'nbas', 'hbas', 'cl', 'cm', 'ch',
       'pres', 'niv_bar', 'geop', 'tend24', 'tn12', 'tn24', 'tx12', 'tx24',
       'tminsol', 'sw', 'tw', 'raf10', 'rafper', 'per', 'etat_sol', 'ht_neige',
       'ssfrai', 'perssfrai', 'rr1', 'rr3', 'rr6', 'rr12', 'rr24', 'phenspe1',
       'phenspe2', 'phenspe3', 'phenspe4', 'nnuage1', 'ctype1', 'hnuage1',
       'nnuage2', 'ctype2', 'hnuage2', 'nnuage3', 'ctype3', 'hnuage3',
       'nnuage4', 'ctype4', 'hnuage4', 'Unnamed: 59'],
      dtype='object')